.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index:999;
    background-color: rgba(50, 115, 220, 0.3);
}
.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgb(143, 12, 7);
    border-left: .8em solid rgb(230, 33, 7);
    animation: spin 1.1s infinite linear;
    z-index:999;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
    z-index:999;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}