// main: ../style.sass

.categories{
  &__wrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  &__item{
    margin: 20px 10px;
    & a {
      width: 190px;
      display: block;
    }
    &_img {
      width: 190px;
      height: 190px;
      margin: 0 auto;
      position: relative;
      border-radius: 50%;
      background: #202020;
      transition: .5s;
      &:hover{
        background: #fa4d47;
        transition: .5s;
      }

      &:after {
        content: "\2022";
        color: #f4453f;
        font-size: 22px;
        background: #131313;
        padding: 10px;
        border-radius: 50%;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        height: 10px;
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
      }
    }
  }

  & img{
    width: 120%;
    height: auto;
    position: absolute;
    left: 45%;
    transform: translate(-50%,-50%);
    top: 50%;
  }
  &__img{
    width: 100%;
    height: 100%;

  }
  &__item_title{
    font-family: HelveticaNeueCyr;
    font-size: 20px;
    line-height:1.1;
    text-transform: uppercase;
    text-align: center;
    margin: 30px auto 0;
    width: 75%;
  }
}


@media only screen and (max-width : 768px){

  .categories{
    &__wrap{
      justify-content: center;
    }
    &__item {
        margin: 20px ;
    }
  }
}

@media only screen and (max-width : 480px){

  .categories{
      margin: 20px  ;
    &__wrap{
      justify-content: center;
    }
    &__item {
      margin: 20px 10px;
      & a{
        width: 140px;
      }
      &_title{
        width: 100%;
      }
      &_img{
        width: 140px;
        height: 140px
      }

    }
  }
}

@media only screen and (max-width : 360px){

  .categories{
      margin: 20px  ;
    &__wrap{
      justify-content: center;
    }
    &__item {
      margin: 20px 10px;
      & a{
        width: 120px;
      }
      &_title{
        width: 100%;
        font-size: 14px;
      }
      &_img{
        width: 120px;
        height: 120px
      }

    }
  }
}
