// main: ../style.sass


.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }

.constructor{
  &__wrap{
    display: flex;
  }

  &__section{
    width: 50%;
    // z-index: 5;

  }
  &__section:nth-child(2){
    background: #202020;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__result{
    width: 80%;
  }
  &_submit{
    margin: 40px auto;
  }


}

.form{
  &__row{
    background: #101010;
    border: none;
    padding: 28px;
    position: relative;
    z-index: 20;
  }
  &__group{
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;

  }
  &__input{
    &_name{
      font-size: 20px;
      line-height: 1.1px;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
      &:hover ~ .form__input_control{
        background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
      }
    }
    &-file{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      position: absolute;
      z-index: -10;
      &:focus + .form__input__img{
        border: 1px dashed #EC3A34;
      }
      &:focus + .form__input__img svg path{
          fill:#EC3A34;
      }
    }
    &__img{
      padding: 2px;
      border: 1px dashed #969696;
      border-radius: 3px;
      width:  50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &:hover{
        border: 1px dashed #EC3A34;


      }
      &:hover ~ .form__input__img svg path{
          fill:#EC3A34;
      }
      &-send{
        border: none !important;
        padding: 0;
      }
      & .delete__file{
        content: '';
        position: absolute;
        top: -10px;
        right: -10px;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);
        &:hover{
          cursor: pointer;

        }
        &:after,  &:before{
          border-right: 2px solid;
          content: '';
          display: block;
          height: 14px;
          position: absolute;
          right: unset;
          width: 0;
          top: 17%;
          left: 43%;
        }
        &:after{
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg) ;
        }
        &:before{
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg) ;
        }
      }
      & img {
        height: auto;
        width: 100%;
        margin: 0;
        border: none;
        padding: 0;
      }
      & svg{
        height: 20px;
        width: auto;
      }
    }
    &_control{
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        background: linear-gradient(180deg, #FE524C 0%, #EC3A34 100%);

      }
      & .partner__next_item{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        &:hover{
          background: none;
        }
      }
    }
  }
  &__file{
    &:hover ~ .form__input__img{
      border: 1px dashed #EC3A34;
    }
    &:hover ~ .form__input__img svg path{
        fill:#EC3A34;
    }
  }
  &__items{
    position: absolute;
    top: 0px;
    right: 0;
    transform: translateX(100%);
    background: #0A0A0A;
    border-radius: 0px 3px 3px 0px;
    width: 180px;
    z-index: -10;
    opacity: 0;
    transition: 1s;
    visibility: hidden;
    &-active{
      opacity: 1;
      right: 0;
      z-index: 5;
      transition: 1s;
      visibility: inherit;
    }

    &_item{
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      &-active{
        cursor: default;
        &::after{
          content: '\2714';
          color: #EC3A34;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate(-50%,-50%);
        }
      }



    }
  }
}

.item{
  &__done{
    display: none;
  }
  padding: 8px;
  &:hover:not(.form__items_item-active){
    background: #EC3A34;

  }
  &_color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px 0 5px;
  }
  &_icon{
    width: 20px;
    height: 20px;
      margin: 0 10px 0 5px;
  }
}
.white{background: #FFFFFF;}
.yellow{background: #FEDE00;}
.turquoise{background: #6BD7E1;}
.red{background: #EE1C25;}
.blue{background: #263B7A;}
.black{background: #000;
border: 1px solid #EE1C25;
}

@media only screen and (max-width : 992px){
  .constructor{
    &__section{
      width: 60%;
    }
    &__section:nth-child(2) {
      width: 40%;
    }

  }
}
@media only screen and (max-width : 768px){
  .constructor{
    &__section{
      width: 350px;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width : 768px){
  .constructor{
    height: calc(100vh - 144px);
    &__box,&__form,&__wrap,&__section,{
      height: 100%;
    }
    &__section{
      // width: 90%;
      margin: 0 auto;
    }
    &__section:nth-child(2) {
      display: none;
    }
    &_submit{
      display: none;
    }
    &__pagination{
      display: flex;
      align-items: baseline;
      width: 100%;
      justify-content: center;
      height: 25px;
      &_current{
        font-size: 20px;
        font-weight: 800;
      }
      &_next{
        padding: 10px 0;
        width: 45%;
        // text-decoration-line: underline;
        // color: #969696;
        // background: none;
        font-size: 14px;
        line-height: 16px;

      }
      &_prev{
        font-size: 14px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #969696;
      }
      &_box{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
      }
    }

  }

  .form{
    &__row{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #202020;
    }
    &__group{
      flex-direction: column;
      margin: 20px 0;
      height: 70%;
      justify-content: space-around;
    }

    &__items{
      position: relative;
      top: 0px;
      right: 0;
      transform: none;
      background: none;
      z-index: 5;
      opacity: 1;
      visibility:visible;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      font-size: 12px;
      justify-content: space-between;
      &_item{
        &-active::after {
          color: #fff;
          right: 0px;
          }
      }
    }

    &__input{
      &_control{
        display: none;
      }
      &_name{
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
      }
      &__img{
        width: 140px;
        height: 140px;
        margin: 30px 0;
        & svg{
          height: 60px;
        }
      }
    }
  }
  .item{
    &__done{
      display: block;
    }

    width: 30%;
    display: flex;
    justify-content: end;
    margin: 10px 0;
    &_name{
      padding-left: 10px;

    }
    &_color{
      position: absolute;
      height: 100%;
      width: 100%;
      margin: 0;
      border-radius: 3px;

      z-index: -1;
    }
  }
  .black__text{
    color: #000;
    &::after {
      color: #000;
      right: 0px;
    }
  }
  .form__items-mod{
      .item{
        background: #101010;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_name{
          padding: 0;
        }
      }
      .form__items_item-active{
        background: #EC3A34;
        &:after{
          display: none;
        }
      }
  }
  .form__items-wid50{
    .item{
      width: 48%;
    }
  }
  .form__input_name-done{
    font-weight: 800;
    text-transform: uppercase;
  }


  .fieldset__box{
    height: 100%;
  }
  .constructor__section-mod{
    display: flex;
    align-items: center;
    justify-content: center;
    & .constructor__result{
      // margin: 0 auto;
    }
  }
}
@media only screen and (max-width : 420px){
  .constructor{
    &__section{
      width: 90%;
      margin: 0 auto;
    }
  }
  .item{

    width: 45%;
    display: flex;
    justify-content: end;
    margin: 10px 0;

  }

}
