// main: ../style.sass



.header{
  height: 90px;
  background: #131313;
  box-shadow: 0px 8px 25px rgba(0,0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;

  &__hamburger{
    display:none;

  }
  &__main{
    display: flex;
    align-items: center;
    height: 100%;
    width: 55%;
    margin-left: 7%;
    justify-content: space-around;

    &_item{
      color: #fff;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      transition: .3s;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      &::before{
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        bottom: 0px;
        left:50%;
        width: 0%;
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        transform:translateX(-50%);
        -webkit-transition: width .4s ease-in-out;
        -moz--transition: width .4s ease-in-out;
        transition: width .4s ease-in-out;
        background:  #EC3A3A;
      }
      &:hover{
        color: #EC3A34;
        transition: .3s;
        cursor:pointer;
        &::before{
          width: 100%;

        }
      }
    }

  }
  &__servise{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
    margin-right: 7%;

  }

}

.main-menu{

  &__btn,&_item{
    display:none;
  }
  &__servise{
    display:none;
  }
}


.logo{
  &__link{
    & img{
      width: 100%;
    }
    &:hover{
      cursor: pointer;
    }
  }

  &::before{
  display: none;
  }
}

.lang{
  &__arrow{
    position: relative;
    &::after,  &::before{
      border-right: 2px solid;
      content: '';
      border-right: 2px solid;
        content: '';
        display: block;
        height: 7px;
        margin-top: -6px;
        position: absolute;
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        right: 0px;
        top: 80%;
        width: 0;
    }
    &::before{
      margin-top: -6px;
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      right: -4px;

    }
    &-active{
      &::before {
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &::after {
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
      }
    }

  }
  &__items{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #EC3A34;
    border-radius: 3px;
    background: #202020;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: .4s;
    // transform: translate3d(0, 5%, 0);
    // transition-duration: 0.5s, 0.5s, 0s;
    // transition-property: opacity, transform, visibility;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
    &-active{
      visibility: visible;
      opacity: 1;
      transition: .7s;
    }


  }
  &__items{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid #EC3A34;
    border-radius: 5px;

  }
  &__item{
    font-size: 14px;
    line-height:1;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    &-active{
      padding: 0 10px;

    }
    &:hover:not(.lang__arrow){
      background: #EC3A34;
      transition: .5s
    }

  }
}



.search{


  &__form{
    display: flex;
    align-items: center;
    position: relative;
    position: relative;
    height: 45px;
    &:hover{
      background: #FFFFFF;
      box-sizing: border-box;
      border-top-right-radius:   3px;
      border-bottom-right-radius: 3px;
      padding: 0px;

      .search__icon{
        border: 0.5px solid #EC3A34;
        border-top-right-radius:   3px;
        border-bottom-right-radius: 3px;
        background: #EC3A34;
      }
      .search__input{
        width: 150px;
        left: -150px;
        padding: 10px;
        border: 0.5px solid #EC3A34;
        border-top-left-radius:  3px;
        border-bottom-left-radius: 3px;
        opacity: 1;
        z-index: 1000
      }
      .svg_search{
        fill:#fff;
      }
    }
  }
  &__input{
    border: none;
    outline: none;
    padding: 0;
    transition: .3s;
    width: 0px;
    position: absolute;
    left: 0;
    height:45px;
    z-index: 2;
    opacity: 0;
  }
  &__icon{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
    transition: .3s;

  }
}



.like{
  position: relative;
  &__box{
    &:hover{
      cursor: pointer;
      animation: pulse .6s linear;
    }
  }
}
@keyframes pulse{
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.basket{
  &__box{
    position: relative;
    &_icon{
      position: relative;
      &:hover{
        cursor: pointer;
        animation: pulse .6s linear;
      }

    }
  }

  &__count{
    position: absolute;
    top: -8px;
    right: -8px;
    height: 16px;
    width: 16px;
    display: block;
    background: linear-gradient(180deg, #FE524C 0%, #FE524C 100%);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    & span{
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      font-size: 12px;
      line-height: 1;
    }

  }
}


.login{
  &__wrap{
    display: flex;
    align-items: center;

  }
  &__text{
    color: #fff;
    cursor: pointer;
  }
  &__border{
    width: 1px;
    height: 19px;
    background: #202020;
    margin-right: 14px;


  }
  &__icon{
    margin: 0 8px;
    cursor: pointer;
  }
}


@media only screen and (max-width : 1600px){
  .header{
    &__main{
      margin-left: 5%;

    }
    &__servise{
        margin-right: 5%;
    }
  }
}
@media only screen and (max-width : 1400px){
  .header{
    &__main{
      margin-left: 3%;
      width: 62%;
      justify-content: space-between;

    }
    &__servise{
        margin-right: 3%;
        width: 22%;
    }
  }
}

@media screen and (max-width: 1200px ) {
  .header{
    &__main{
      width: 73%;
      margin-left: 0%;
      justify-content: space-evenly;
      &_item{
      }
    }
    &__servise{
        width: 24%;
        margin-right: 1%;
    }
  }
  .logo{
    &__link{
      width: 80px;
      & object{
        width: 100%
      }
    }
  }

  .search__icon{
    width: 35px;
  }

  .login{
    &__border{
      margin: 0px 4px 0 2px;
    }
    &__icon{
      margin: 0 5px;
    }
  }
}

@media screen and (max-width: 992px ) {
  .header{
    justify-content: space-between;
    &__hamburger{
      display: flex;
      margin-left: 4%;
    }
    &__main{
      overflow: hidden;
      position: absolute;
      flex-direction: column;
      top: 0px;
      left: -500px;
      background: #121212;
      height: 100vh;
      width: 320px;
      align-items: flex-start;
      padding-left: 20px;
      transition: 1s;
      &-active{
        left: 0;
        transition: 1s;
        z-index: 20;
        background: #121212;
      }
      &_item:not(.logo){
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        & div{
          width: fit-content;
          background: #121212;
          padding-right: 20px;
          z-index: 10
        }
        &::before{
          content: '';
          display: block;
          height: 2px;
          width: 0%;
          left: 0px;
          bottom: unset;
          -webkit-transform:unset;
          -moz-transform:unset;
          transform:unset;
          z-index: -1;
        }
        &:hover{
          cursor:pointer;
          &::before{
            width: 100%;
          }
        }
      }

    }
    &__servise{
        margin-right: 3%;
        width: 30%;

    }
  }

  .main-menu{

    &__btn{
      display: flex;
    }
    &__servise{
      display: flex;
      align-items: center;
    }
    &__text{
      font-size: 14px;
    }
    &__header{
      min-height: 90px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding-right: 4%;
      flex-direction: row-reverse;
    }
    &__backgaunt{
      position: absolute;
      width: 100%;
      height: 3000px;
      z-index: 15;
      background: rgba(0 , 0, 0, 0.4);
      transition: .1s;
      display: none;
      opacity: 0;
      z-index: -1000;
      &-active{
        display: block;
        transition: .1s;
        z-index: 15;
        opacity: 1;
      }

    }

    &__border{
      position: relative;
      &::before{
        position: absolute;
        content: '';
        display: block;
        height: 1px;
        width: 340px;
        background:#202020;;
        left: -30px;
      }
    }

  }



  .logo{
    &__link {
        width: 70px;
    }
  }
  .login{
    &__wrap{
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-around;
    }
  }



}

@media screen and (max-width: 850px ) {
  .header{

    &__servise{
        width: 45%;
    }
  }
}
@media screen and (max-width: 768px ) {
  .header{

    &__servise{
        width: 80px;
        margin-right: 10%;
    }
  }

  .header__login_like{
    display: none;
  }
  .header__login_login{
    display: none;
  }
  .header__login_lang{
    display: none;
  }
}
@media screen and (max-width: 400px ) {
  .header{
    &__main{
      width: 100%
    }


}
}
