// main: ../style.sass
//

.wrapper {
  height: 500px;
  display: flex;
  flex-direction: row;
  // width: 50%;
}
.product_comra{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.product__description{
  margin-bottom: 20px 0;
  &_title{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    &:after {
        content: '';
        height: 2px;
        width: 71px;
        background: red;
        display: block;
        margin-top: 10px;
    }
  }
  &_text{
    line-height: 2;
  }
}

.product-card{
  display: flex;
  &__description{
    &-mobile{
      display: none;
    }
  }
  &__pagination{
    position: absolute;
    height: 65px;
    width: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
    z-index: 5;
    &:hover{
      background: rgba(255, 255, 255, 0.4);
    }
    & div{
      height: 12px;
      width: 12px;
    }
   &_top{
      top: 0px;
      left: 0px;
    }
    &_buttoms{
      bottom: 0px;
      left: 0px;
    }
  }
  &__section {
    width: 45%;
    &:nth-child(2){
      width: 40%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &_title{
      font-size: 30px;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 300;
    }
    &_subtitle{
      color: #969696;
      font-size: 16px;
      line-height: 3;
    }
  }
  &__servise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    margin: 35px 0;
    border-top: 1px solid  #202020;
    border-bottom: 1px solid  #202020;
    .select__box_line{
      .select_title{
        margin-left: 0px;
      }
    }
  }
  &__button{
    display: inline-block;
    width: 35%;
    & input{
      width: 100%;
    }
  }
  &__info{
    display: inline-block;
    width: 64%;
    &_box{
      display: flex;
      align-items: center;
      justify-content: space-around;

    }
  }

  &__availability{
    &_value{
      display: flex;
      align-items: center;
      &::before{
        content: '\2714';
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: #EC3A34;
        height: 16px;
        font-weight: 500;
      }
    }
  }
}
.quantity{
  display: flex;
  align-items: center;
  &__title{
    font-size: 16px;
    line-height: 1.1;
    margin-right: 25px;
  }
}



.swiper{
  &-img{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 400px !important;
      height: auto !important;
    }
  }
}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.Thumbs {
  flex-basis: 100px;
}
.Thumbs .swiper-slide {
  opacity: 0.4;
}
.Thumbs .swiper-slide-active {
  opacity: 1;
}
.product{
  &__price{
    &_title{
      margin-right: 10px;
    }
  }
  &__price,&__cur{
    color: #EC3A34;
    font-weight: 600;
  }
}
.product-cart__size{
  display: none;
}


@media only screen and (max-width : 1200px){
  .wrapper{
    height:  400px;
  }
  .Thumbs{
    width: 80px;
  }
  .swiper-img img {
      width: 320px !important;
      height: auto !important;
  }
  .product-card__section_title {
      font-size: 2.3vw;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 300;
  }
  .product-card__section:nth-child(2) {
    width: 50%;
}
}
@media only screen and (max-width : 992px){
  .Thumbs {
    flex-basis: 65px;
}

  .swiper-img img {
      width: 320px !important;
      height: auto !important;
  }
  .product-card__section_title {
      font-size: 2.3vw;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 300;
  }
  .product{
    &__price{
      &_box{
        width: 45%;
        justify-content: flex-start;
      }
    }
  }
  .product-card{
    &__availability{
      width: 45%;
    }
    &__section{
      width: 53%;
    }
    &__section:nth-child(2) {
      width: 45%;
    }
    &_servise{
      width: 45%;
    }
    &__info{
      width: 100%;
    }
    &__button{
      display: flex;
      width: 220px;
      margin: 20px auto 0;
      & input{
        width: 100%;
        border: none;
      }
    }
    &__availability{
      width: unset;
    }
    &__info{
      flex-wrap: wrap;
      &_box{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .quantity,.select__box_line{
    flex-direction: column;
  }
  .select_title, .quantity__title {
    margin: 10px 0;
    margin-right: 17px;
  }

}

@media only screen and (max-width: 768px){

  .Thumbs {
    flex-basis: 120px;
  }
  .wrapper {
      margin: 0 auto;
      width: 95%;
  }
  .swiper-img img {
    width: 75% !important;
  }
  .product-card {
    flex-direction: column;
    &__description{
      display: none;
      &-mobile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
    &__section {
      width: 90%;
      margin: 0 auto;
      &_title{
          font-size:4vw;
      }
    }
    &__section:nth-child(2) {
      width: 90%;
    }
    &__form{
      display: flex;
      flex-direction: column;
      margin: 50px 0 0;
      position: relative;
    }
    &__servise{
      order: 2;
      display: flex;
      flex-wrap: wrap;
      border-color: transparent;
      margin: 0;
    }
    &__info{
      order: 1;
    }
    &__button{
        order: 3;
        position: absolute;
        bottom: 66px;
        right: 0;
    }
  }
  .quantity{
    flex-direction: row;
        margin: 20px 0;
  }


  .product-cart__select{
    display: none;
  }
  .product-cart__size{
    display: block;
  }
  .product-cart{
    &__items {
      display: flex;
      align-items: center;
      width: 70% !important;

    }
    &__size {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      & .item_name{
        padding: 0;
        cursor: pointer;
      }
      &_item {
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center !important;
        background: #202020;
        padding: 12px 10px !important;
        font-size: 14px;
        &-active{
          background: #EC3A34;
        }
      }
    }
  }

}

@media only screen and (max-width: 500px){
  .wrapper {
      height: 300px;
  }
  .swiper-img img {
    width: 90% !important;
  }
  .Gallery{
    width: 125%;
  }
  .Thumbs {
    flex-basis: 80px;
}
.product-card__pagination{
  height: 40px;
}
.product-card__availability_value{
      font-size: 14px;
}
.product__price_box{
    font-size: 14px;
}
.quantity__title{
  font-size: 14px;
  margin-right: 1em;
}
.product__quantity{
  font-size: 16px;
}
.product__quantity_count {
    width: 40px;
    height: 30px;
    margin: 0px 5px;
    font-size: 14px;
}
.product-card__button{
  font-size: 14px;
    width: 120px;
    margin: 0px;
    & input{
      padding: 9px 0;
      font-size: 14px;
      // width: 75%;
    }
}

}
