// main: ../style.sass

.modaal-content-container,.modaal-container{
  padding: 0px;
  background: #131313;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.basket{
  &__wrap{
    padding: 52px 49px;
  }


  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_title{
    font-family: Helvetica;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    &::after{
      content: '';
      display: block;
      margin-top: 10px;
      width: 71px;
      height: 1px;
      background: #EC3A34;

    }
  }
  &__box{
    display: flex;
    flex-direction: column;
  }
  &__footer{
    margin: 52px 0 0;
    &-like{
      display: flex;
      justify-content: flex-end;

    }
    &-shopping{
        display: flex;
        align-items: center;
      justify-content:space-between;
    }
  }

}
.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 52px 0 0;
  background: #202020;
  border-radius: 5px;
  padding: 30px 50px;
  position: relative;
  &__group{
    display: flex;
    align-items: center;
    width: 48%;
    justify-content: space-around;

  }
  &__img{
    max-width: 90px;
    & img{
      width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 0 10px;
    &_title{
      font-size: 19px;
      line-height: 1.1;
      text-transform: uppercase;
      font-weight: 300;
      color: #FFFFFF;
    }
    &_servise{
      font-size: 16px;
      font-weight: 300;
      display: flex;
      margin-top: 10px;

    }
    &_namber{
      margin-left: 5px;
    }
  }
  &__price{
    &_box{
      display: flex;
      justify-content: space-between;
      width: 115px;
    }
  }
  &__btn{
    max-width: 185px;
  }



  &__servise{
    display:flex;
  }
  &_price{
    &_box{
      display: flex;
      align-items: center;
    }
  }
  &__quantity {
      display: flex;
      align-items: center;
      font-size: 22px;
      &_count{
        background: #131313;
        border-radius: 3px;
        border: none;
        width: 60px;
        height: 45px;
        margin: 0 10px;
        text-align: center;
        font-size: 18px;
        &-text{
          background: #131313;
          border-radius: 3px;
          border: none;
          width: 60px;
          height: 45px;
          margin: 0 10px;
          text-align: center;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &-cadr{
          background: #202020;
        }
      }
  }
  &__group{
    &_plus,&_minus{
      cursor: pointer;
    }
  }


}

@media only screen and (max-width : 1070px){
  .product{
    padding: 20px 30px;
    margin: 32px 0 0;
    &__img{
      max-width: 75px;
    }
    &__content{
      max-width:190px;
      margin: 0 10px;
      &_title{
        font-size: 16px;
      }
      &_servise{
        font-size: 14px;
      }
    }
    &__price_box {
      width: 115px;
      margin: 0 10px;
      font-size: 15px;
    }
    &__btn {
      max-width: 130px;
      font-size: 13px;
    }
    &_remove{
      margin: 0 10px;
    }
    &__footer
      &_btn {
        font-size: 13px;
        width: 160px;
      }
    }



}
@media only screen and (max-width : 768px){
  .product{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
      &__group {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: row;
        margin: 10px 0;
      }
      &__img {
        max-width: 90px;
      }
      &__content {
        max-width: 100%;
        margin: 0 10px;
      }
    &__price{
      &_box {
        width: 200px;
        margin: 0 10px;
        font-size: 16px;
        justify-content: flex-end;
      }
      &_title{
        margin-right: 10px;
      }
    }
    &_remove{
      position: absolute;
      top: 10px;
      right: 0px;
    }
  }
}

@media only screen and (max-width : 595px){
  .basket__wrap {
    padding: 32px 29px;
}
  .product{
    &__group {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
  }
  .modaal-inner-wrapper{
    padding: 0;
  }
  .modaal-content-container,.modaal-inner-wrapper,.modaal-inner-wrapper     {
    // padding: 0  60px;
  }

}
@media only screen and (max-width : 595px){
  .select{
    &__view{
      min-width:135px;
    }
    &_title,&_value_name ,&__group{
      font-size: 12px;
    }
    &_value{
      &_name{
        padding: 0;
      }
    }
    &__items{
      &-active {
        top: 29px;
      }
    }
  }
}

@media only screen and (max-width : 440px){
  .basket__wrap {
    padding: 32px 15px;
}
.product {
    padding: 20px ;
    &__img{
      max-width: 25%;
    }
    &__content{
      max-width: 65%;
    }

}
  .select{
    &__view{
      min-width:135px;
    }
    &_title,&_value_name ,&__group{
      font-size: 12px;
    }
    &_value{
      &_name{
        padding: 0;
      }
    }
    &__items{
      &-active {
        top: 29px;
      }
    }
  }
}
