// main: ../style.sass

.contact{
  &__wrap{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0;
  }
  &__group{
    &-nav{
      width: 23%;

    }
  }
  &__title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;

    margin: 15px 0;

    text-transform: uppercase;
    color: #EC3A34;
  }
  &__box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 90px;
    &_item{
      margin: 5px 0;
      transition: .7s;
      & a:hover{
        color: #EC3A34;
        transition: .7s;
      }
    }
  }
  &__info{
    max-width: 280px;
    line-height: 1.5;
  }
}


.footer{
  width: 100%;
    text-align: center;
    padding: 18px 0;
    background: #0A0A0A;
}

.contact-adrees__item {
    margin: 25px 0;
    display: flex;
    &-email{
      &:before{
        background-image: url('../img/svg/email_cont.svg');
      }
    }
    &-phone{
      &:before{
        background-image: url('../img/svg/phone.svg');
      }
    }
    &-map{
      &:before{
        background-image: url('../img/svg/map.svg');
      }
    }
    &:before{
      content: ' ';

      background-size: contain;
      height: auto;
      width: 17px;
      background-repeat: no-repeat;
      margin-right: 17px;
    }
}
.contact-adrees__section{
  width: 60%;
}
@media only screen and (max-width : 992px){
  .contact{
    display: none;
  }
}
