// main: ../style.sass







.hero{
  margin-top: 100px;
  position: relative;
  padding: 30px 0;
  &__main{
    display: flex;
  }
  &__section{
    position: relative;
    &:nth-child(1){
      width:60%;
    }
    &:nth-child(2){
      width:40%;
    }
    &_title{
      font-size: 30px;
      line-height: 1;
      text-transform: uppercase;
      color: #EC3A34;
      font-weight: 800;
    }
    &_text{
      font-size: 17px;
      line-height: 1.6;
      margin: 20px 0;
    }

  }
  &__box{
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 0 40px 25px;
    position: absolute;
    left: 62%;
    top: 0;
    max-width: 350px;
    &_title{
      font-size: 20px;
      line-height: 1.2;
      text-transform: uppercase;
        color: #EC3A34;
        margin: 0;
        padding: 16px 0;
    }
    &_subtitle{
      font-size: 16px;
      line-height: 1.6;
      color: #131313;
    }
  }
  &__form{

  }

  &__footer{
    background: #202020;
    padding: 20px 4%;
    &_title{
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      color: #EC3A34;
    }
    &_box{
      display: flex;
      width: 60%;
      justify-content: space-around;
      padding: 25px 0;
    }
    &_item{
      display: flex;
    align-items: center;
      &::before{
        content: "";
        display: block;
        width: 30px;

        height: 30px;
        margin-right: 15px;
      }
    }

  }
}
.experens::before{
  background: url(../img/svg/experens.svg);
  background-size: contain;
}
.quality::before{
  background: url(../img/svg/quality.svg);
  background-size: contain;
}
.stability::before{
  background: url(../img/svg/stability.svg);
  background-size: contain;

}

.form{
  &__container{
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #EC3A34;
    box-sizing: border-box;
    display: flex;
    &-text{
      margin: 6px 0;
      box-sizing: border-box;
      display: flex;
    }
    &_textarea{
      border-radius: 5px;
      border: 1px solid #EC3A34;
      resize: none;
      color: #C4C4C4;
    }
    &_img{
      height: 48px;
      background: #EC3A34;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      & object{
        width: 60%;
        height: auto;
      }
    }


    &_input{
      padding: 15px;
      font-size: 16px;
      color: #C4C4C4;
      border: none;
      background: none;
      width: calc(100% - 48px);

    }
    &_control{
      color: #fff;
      width: 100%;
      border-radius: 5px;
      border: none
    }

  }
}
@media only screen and (max-width : 1180px){
  .hero{
    &__section{
      &:nth-child(1) {
        width: 55%;
      }
      &_title{
        font-size: 25px;

      }
      &_text{
        font-size: 16px;
      }
    }
    &__box{
      width: 350px;
      left: 60%;
      & img{
        width: 100%;
      }
    }
    &__footer{
      &_title{
        width: 60%;
        font-size: 18px;
      }
      &_box {
        width: 55%;
        font-size: 15px;
      }

    }

  }

}
@media only screen and (max-width : 992px){
  .hero{

    &__section{
      &:nth-child(1) {
        width: 100%;
            margin: 0 5%;
      }
      &:nth-child(2) {
        width: 0%;
      }
      &_title{
        font-size: 25px;
        text-align: center;

      }
      &_text{
        font-size: 16px;
      }
    }
    &__box{
      position: relative;
      width: 400px;
      left: unset;
        margin: 30px auto;
      & img{
        width: 100%;
      }
    }
    &__footer{
      &_title{
        width: 100%;
        font-size: 18px;
        text-align: center;
      }
      &_box {
        width: 100%;
        font-size: 15px;

      }

    }

  }

}

@media only screen and (max-width : 460px){
  .hero{
    &__box{
      margin: 30px 5%;
  width: auto;
  padding: 0 20px 25px;
    }
    &__footer_item{
      font-size: 14px;
      &::before{
        margin-right: 7px;
        width: 23px;
        height: 23px;
      }
    }
  }

}
