// main: ../style.sass


.info-v2{
  &__section{
    display: flex;
    align-items: center;
    &_img{
          height: 400px;
          & img{
            padding: 20px;
            height: 100%;
          }
    }
    &_text{
      font-size: 17px;
      line-height: 1.6;
      padding: 0 20px;
    }
    &_button{
      margin: 10px   auto;
    }
  }
}

@media only screen and (max-width : 1100px){
  .info-v2{
    &__section{
      &_img{
            height: 320px;
      }
      &_text{
        font-size: 16px;
        line-height: 1.6;
        padding: 0 20px;
        & p{
          margin: 10px 0;
        }
      }
      &_button{
        margin: 10px   auto;
      }
    }
  }
}
@media only screen and (max-width : 992px){
  .info-v2{
    &__section{
      flex-direction: column-reverse;

      &_img{
            height: 400px;

      }
      &_text{
        font-size: 16px;
        line-height: 1.6;
        padding: 0 20px;
        & p{
          margin: 10px 0;
        }
      }
      &_button{
        margin: 10px   auto;
      }
    }
  }
}

@media only screen and (max-width : 500px){
  .info-v2{
    &__section{
      flex-direction: column-reverse;

      &_img{
            width: 90%;
            height: auto;
            & img{
              width: 100%;
              height: auto;
            }
      }
      &_text{
        font-size: 16px;
        line-height: 1.6;
        padding: 0 20px;
        & p{
          margin: 10px 0;
        }
      }
      &_button{
        margin: 10px   auto;
      }
    }
  }
}
