// main: ../style.sass

.make_order_form{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ordering{
  max-width:900px;
    margin: 0 auto 50px;
    background: #202020;
    padding: 20px;

    &__section-group{
      width: 45%;
      & .form-group{

        & .select__box{
          & .select__view{
            width: 125px;
            & .select_value,& .select__items{
              background: #131313;
            }
          }
        }
      }
      &-mod{

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
      }
      &-input{
        order: 1;
      }
      &-list{
            order: 2;
      }
      &-textarea{
            order: 3;
      }
      &-btn{
            order: 4;
            justify-content: space-between;
            align-items: self-end;
      }
    }
  .form{
    // display: none;

    & h2{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 20px;
      margin: 0 0 20px 0;
      font-weight: 300;

    }
    &-group{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: column;





      &-colum{
        flex-direction: column;
      }
      &  .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
      &_input{
        width: 70%;
      }
      & p {
        font-size: 14px;
        color: #9f9f9f;
        font-weight: 300;
        & a {
         padding: 0 5px;
         display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &-btn{
        margin: 0;
    height: 100%;
    justify-content: flex-end;
        & input{
          &:hover{
            background: rgba(254,58,52,0.8);
          }
          &:focus{
            transform: scale(0.95);
          }
        }

      }
      &_error{
        color: #ff5555;
        padding: 10px 0 0;
        display: none;
        &-active{
          display: block;

        }
      }
    }
    &-control {
      display: block;
      width: 100%;
      padding: 6px 12px;
      line-height: 1.42857143;
      background-color: #fff;
      background-image: none;
      font-weight: 400;
      height: 40px;
      padding-left: 20px;
      padding-right: 0px;
      border: none;
      // border-bottom: 1px solid rgba(236,58,52,0.5);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 3px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      font-size: 16px;
      color: #5a5353;
      &-text{
        height: 70px;
        border-radius: 3px;
        width: 100%;
        color: #5a5353;
      }
    }
    &-active{
      display: block;
    }
}

}
@media only screen and (max-width : 768px){
.make_order_form{
  flex-direction: column;
}
.ordering{
  &__section{
    &-group{
      width: 90%;
    }
  }
}
.ordering__section-group-mod {
    align-items: end;
}


}
