// main: ../style.sass


.slider{
  &__box{
    position: relative;

  }
  &__pagination{
    position: absolute;
    bottom: 17%;
    right: 15%;
    display: flex;
    font-size: 20px;
    line-height: 1;
    align-items: flex-end;
    &_all,&_centr{
      font-size: 16px;
      color: #b5b4b3;
    }
    &_centr{

    }
  }

  &__wrap{
    position: relative;
  }

  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
  &__img{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.4);
      z-index: 6;
      position: absolute;
    }
    & img{
      position: absolute;
      width: auto ;
      height:118% !important;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 5;
    }
  }
  &__section{
    width: 50%;
    z-index: 9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5%;

    &_title{
      font-size: 30px;
      line-height: 29px;
      text-transform: uppercase;
      font-weight: 800;
    }
    &_subtitle{
      font-size: 16px;
      line-height: 1.9;
      margin: 15px 0;
    }
    &_button{
      width: 200px;
    }
  }
}


.slider__wrap ul.slick-dots {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: auto;
  bottom: unset;
  right: 15%;
  & .slick-active{
    & button {
      font-weight: 400;
      font-size: 20px;
    }
  }
  & li{
    width: auto;
    margin: 13px 0;
    display: flex;
    justify-content: flex-end;
    & .tab {
      outline: none;
      width: auto;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
      font-size: 16px;
      line-height: 1;
      font-weight: 200;
      text-transform: uppercase;
      &:hover{
        font-weight: 400;
      }
      &::before {
        position: relative;
        width: 85px;
        height: 2px;
        background: #fff;
        margin-left: 30px;
    }
    }
  }

}


@media only screen and (max-width : 1300px){
  .slider{
    &__pagination{
          right: 5%;


    }
    &__img{
      overflow: hidden;
      img {
        position: absolute;
        width: auto;
         height: 120%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 5;
      }
    }



  }



}
.slider__wrap{
  & ul.slick-dots {
    right: 5%;
  }
}

@media only screen and (max-width : 992px){
  .slider{
    &__wrap{
      overflow: hidden;
    }
    &__section{
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      top: 40%;
      width: 70%;
      text-align: center;
      &_subtitle{
        margin: 15px 0;
      }
      &_button{
        width: 180px;
        margin: 0 auto;
      }
    }
    &__pagination{
          display: none;
    }
    &__img{
      overflow: hidden;
      img {
        position: absolute;
        width: auto;
         height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 5;
      }
    }



  }
.slider__wrap{
  &  ul.slick-dots {
      flex-direction: row;
      top: initial;
      bottom: 5%;
      width: 80%;
      justify-content: space-between;
      right: 0;
      left: 0;
      margin: 0 auto;
      & li button::before {

        width: 2px !important;
        height: 85px !important;
        background: #fff;
        margin-left: 30px;
        position: absolute !important;
        bottom: unset;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 !important;
        top: 33px;
        padding: 0;
      }
    }
}


}


@media only screen and (max-width : 768px){
  .slider{
    &__wrap{
      overflow: hidden;
    }
    &__section{
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      top: 40%;
      width: 70%;
      text-align: center;
      margin: 0;
      &_title{
         font-size: 18px;
      }
      &_subtitle{
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;

      }
      &_button {
          width: 150px;
          margin: 0 auto;
          font-size: 14px;
      }

    }
    &__pagination{
          display: none;
    }
    &__img{
      overflow: hidden;
      img {
        position: absolute;
        width: auto;
         height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 5;
      }
    }



  }

  .slider__wrap{
    & ul.slick-dots {
        flex-direction: row;
        top: initial;
        bottom: 3%;
        width: 90%;
        justify-content: space-between;
        right: 0;
        left: 0;
        margin: 0 auto;
        & li button{
          font-size: 15px;
          margin: 0;
          padding: 0;
          &::before {
            position: relative;
            width: 2px;
            height: 85px;
            background: #fff;
            margin-left: 30px;
            position: absolute;
            bottom: unset;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            top: 33px;
            padding: 0;
          }
        }
        & .slick-active{
          & button {
            font-size: 15px;
          }
        }


      }
  }



}

@media only screen and (max-width :600px){

   .slider__wrap{
    &  ul.slick-dots {
          & li{
            & button{
             font-size: 14px  !important;

            }
          }
          & .slick-active button {
              font-size: 14px;
          }
        }
    }
}

@media only screen and (max-width :540px){

  .slider{
    &__wrap{
      overflow: hidden;
    }
    &__section{

      width: 90%;
      &_title{
         font-size: 18px;
      }
      &_subtitle{
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
      }
    }


    }
      .slider__wrap{
        &  ul.slick-dots {
              width: 90%;
              & li{
                    margin: 7px 0;
                    & button{
                     font-size: 12px !important;
                     &::before {
                       position: relative;
                       width: 2px;
                       height: 85px;
                       background: #fff;
                       margin-left: 30px;
                       position: absolute;
                       bottom: unset;
                       left: 50%;
                       transform: translateX(-50%);
                       margin: 0;
                       top: 33px;
                       padding: 0;
                     }
              }
              }
              & .slick-active button {
                  font-size: 10px;
              }

            }
      }
}

@media only screen and (max-width : 470px){

  .slider{
    &__wrap{
      overflow: hidden;
    }
    &__section{

      width: 90%;
      &_title{
         font-size: 18px;
      }
      &_subtitle{
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
      }
    }


    }

    .slider__wrap{
      &  ul.slick-dots {
            width: 95%;
            & li button{
              font-size: 10px  !important;

              margin: 0 3px;
              &::before {
                position: relative;
                width: 2px;
                height: 85px;
                background: #fff;
                margin-left: 30px;
                position: absolute;
                bottom: unset;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
                top: 33px;
                padding: 0;
              }
            }
            & .slick-active button {
                font-weight: 400;
                font-size: 10px;
            }

          }
    }

  }
