<!DOCTYPE html>
<html>
<head>
  <meta name=“robots” content=“noindex,nofollow”>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.desc}}"/>
  {% include 'includes/styles.html' %}
  {% include 'includes/hreflang.html' %}
</head>
<body {% block body_class%}{% endblock body_class%}>
  {% include 'includes/navbar.html' %}
  {% block content %}{% endblock content %}
  {% include 'includes/contact.html' %}
  {% include 'includes/footer.html' %}
  {% include 'includes/scripts.html' %}
  {% include 'includes/favours.html' %}
  {% include 'includes/basket.html' %}
  {% block scripts %}{% endblock scripts %} 
  <div class="loading" hidden>
      <div class="loader"></div>
  </div>
</body>
</html>
