{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
  <div class="bread-crumbs">
      <a class="bread-crumbs_item" href="/">home</a>
      <a class="bread-crumbs_item" href="{% url 'shop' %}">shop</a>
      <span class="bread-crumbs_item">{{category_name}}</span>
  </div>
</section>
{% include 'includes/category.html' %}
{% endblock content %}
{% block scripts%}
<script src="/static/category.js"></script>
{% endblock scripts %}
