{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
  <div class="bread-crumbs">
      <a class="bread-crumbs_item" href="/">home</a>
      <span class="bread-crumbs_item">{% trans "Constructor" %}</span>
  </div>
</section>
<!-- {% include 'includes/constructor_jsnew.html' %} -->
{% include 'includes/constructor.html' %}
{% endblock content %}
{% block scripts%}
<script src="/static/constructor.js" type="text/javascript"></script>
{% endblock scripts %}