{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
    <div class="bread-crumbs">
        <a class="bread-crumbs_item" href="/">home</a>
        <span class="bread-crumbs_item">{% trans "contacts" %}</span>
    </div>
</section>
{% include 'includes/contacts.html' %}
{% include 'includes/map.html' %}
{% endblock content %}

