{% extends 'base.html' %}
{% block content %}
<section class="container container_top">
  <div id="liqpay_checkout"></div>
  <script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
  <script>
    window.LiqPayCheckoutCallback = function() {
      LiqPayCheckout.init({
        // data: "eyAidmVyc2lvbiIgOiAzLCAicHVibGljX2tleSIgOiAieW91cl9wdWJsaWNfa2V5IiwgImFjdGlv" +
        // "biIgOiAicGF5IiwgImFtb3VudCIgOiAxLCAiY3VycmVuY3kiIDogIlVTRCIsICJkZXNjcmlwdGlv" +
        // "biIgOiAiZGVzY3JpcHRpb24gdGV4dCIsICJvcmRlcl9pZCIgOiAib3JkZXJfaWRfMSIgfQ==",
        // signature: "QvJD5u9Fg55PCx/Hdz6lzWtYwcI=",
        data: "{{ data }}",
        signature: "{{ signature }}",
        embedTo: "#liqpay_checkout",
          mode: "embed" // embed || popup,
      }).on("liqpay.callback", function(data){
        console.log('callback data.status:', data.status);
        console.log('callback data:', data);
        $.ajax({
          url:SITE_NAME+'pay_callback/',
          data:data,
          method:'POST',
          type:'POST',
          async:true,
          success:function(data){
              console.log(data)
          },
          error:function(error){
              console.log(error)
          }
        })
      }).on("liqpay.ready", function(data){
          console.log('ready data:',data)
      }).on("liqpay.close", function(data){
          console.log('close data: ', data) 
      });
    };
  </script>
  <script src="https://static.liqpay.ua/libjs/checkout.js" async></script>
</section>
{%endblock content%}