{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
    <div class="bread-crumbs">
        <a class="bread-crumbs_item" href="/">home</a>
        <span class="bread-crumbs_item">{% trans "Privatelabel" %}</span>
    </div>
</section>
{% include 'includes/privatelabel_form.html' %}
{% include 'includes/partner.html' %}
{% include 'includes/privatelabel.html' %}
{% include 'includes/catalog.html' %}
{% include 'includes/map.html' %}
{%endblock content%}