{% extends 'base.html' %}
{% block content %}
<section class="container container_top product-card__wrap ">
  <div class="bread-crumbs">
      <a class="bread-crumbs_item" href="/">home</a>
      <a class="bread-crumbs_item" href="{% url 'shop' %}">shop</a>
      <a class="bread-crumbs_item" href="{% url 'category' slug=item.category.first.slug %}">category</a>
      <span class="bread-crumbs_item">{{item.name}}</span>
  </div>
</section>
{% include 'includes/product_card.html' %}
{% include 'includes/similar_products.html' %}
{%endblock content%}
{% block scripts%}
<script src="/static/product_card.js"></script>
<script src="/static/similar_products.js"></script>
{% endblock scripts %}
