{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<section class="container container_top product-card__wrap ">
  <div class="bread-crumbs">
      <a class="bread-crumbs_item" href="/">home</a>
      <span class="bread-crumbs_item">{% trans "Search Results" %}</span>
  </div>
</section>
<section class="container container_top ">
    <h2>This is the results of your search</h2>
    <div class="catalog__wrap">
    {% for item in items %}
      <div class="catalog__item card">
          <div class="card__img">
              <a href="{% url 'item_detail' item.pk %}">
                <img class="lazyload" src="/static/img/svg/loader.svg" data-src="/media/{{item.image.first.image}}" alt="/media/{{item.image.first.alt}}">
              </a>
              <div class="card__img_discont">new</div>
          </div>
          <div class="card__main">
              <div class="card__main_title">
                <a href="{% url 'item_detail' item.pk %}">{{item.name}}</a></div>
              <div class="card__service">
                  <div class="card__wrap-prise">
                      <div class="card__discont">{{item.price}}</div>
                      <div class="card__prise">{{item.discount_price}} грн</div>
                  </div>
               
              </div>
            </div>
        </div>
    {% endfor %}
  </div>

</section>
{%endblock content%}