{% load i18n %}
<section class="container container_top ">
<div class="error__box">
<div class="error__box_img">  
    <img src="/static/img/404.png" alt="">
</div>
<div class="error__box_button">
    <a class="btn" href="/">{% trans "Повернутися на головну" %} </a>
</div>
</div>
</section>