<div class="auth" id="auth">
    <div class="auth__wrap">

      <form class="form auth_form login-form form-active" method="post" action="{% url 'account_login' %}" novalidate="" target="" data-form="">
        {% csrf_token %}
        <h2>Увійти</h2>
        <div class="form-group">
          <label for="username" class="sr-only">Email</label>
          <input name="login" type="text" class="form-control" id="username" placeholder="Username" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Пароль</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="remember">
            <input type="checkbox" id="remember"> Пам'ятати мене
          </label>
        </div>
        <div class="form-group">
          <p>Не зареєстровані? <a class="sign-up"  href="">Зареєструйтесь</a> | <a class="forgot-btn" href="">Відновити пароль</a></p>
        </div>

        <div class="form-group form-group-btn">
          <input type="submit" value="Увійти" class="btn btn-primary">
        </div>
      </form>

      <form class="form auth_form register-form" method="post" action="{% url 'account_signup' %}" novalidate="novalidate" target="auth_transport" data-form="login">
        {% csrf_token %}
        <h2>Зареєструйтесь</h2>

        <div class="form-group">
            <label for="name" class="sr-only">Імя</label>
            <input name="username" type="text" class="form-control" id="name" placeholder="Name" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
        </div>
        <!-- <div class="form-group">
            <label for="phone" class="sr-only">Телефон</label>
            <input name="phone" type="phone" class="form-control" id="phone" placeholder="Телефон" autocomplete="off">
        </div> -->
        <div class="form-group">
            <label for="password" class="sr-only">Пароль</label>
            <input name="password1" type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="re-password" class="sr-only">Повторити пароль</label>
            <input name="password2" type="password" class="form-control" id="re-password" placeholder="Re-type Password" autocomplete="off">
        </div>

        <div class="form-group">
            <p>Вже зареєстровані? <a class="login-form-btn" href="{% url 'account_login' %}">Увійти</a></p>
        </div>
        <div class="form-group form-group-btn">
            <input type="submit" value="Зареєструватись" class="btn btn-primary">
        </div>
      </form>

      <form method='POST' action="{% url 'account_reset_password' %}" class="form forgot-form auth_form " >
          {% csrf_token %}
          <h2>Забули пароль</h2>
          <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
          </div>
          <div class="form-group">
              <p><a class="login-form-btn" href="{% url 'account_login' %}">Увійти</a> або <a class="sign-up" href="{% url 'account_signup' %}">Зареєструйтесь</a></p>
          </div>
          <div class="form-group form-group-btn">
              <input type="submit" value="Відправити лист" id="" class="btn btn-primary">
          </div>
      </form>

    </div>
  </div>
