{% load i18n %}
<div id="basket" class="basket" style="display:none;">
    <div class="basket__wrap">
        <div class="basket__header">
            <div class="basket_title">Корзина товарів</div>
            <div class="basket_close cross"></div>
        </div>
        <div class="basket__box">
        <form action="" class="cart_items_form basket_form">
        </form>
        </div>
        <div class="basket__footer basket__footer-shopping">
            <div class="continue_shopping">Продовжити покупки</div>
            <form class="checkout_button" action="{% url 'order_items' %}">
                <input class="basket__footer_btn btn" type="submit" value="{% trans 'Оформити замовлення' %}">
            </form>
        </div>
    </div>
</div>