{% load i18n %}
<section class="container container_top categories">
<div class="container__header">
    <h1 class="container__title">{% trans "Категорії товарів" %}</h1>
    </div>
    
    <div class="services__wrap">
        <div class="services__group">

            <a href="{% url 'servets_cat' %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="bird" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Серветки' %}</div>
            </div>
            </a>

            <a href="{% url 'category' paper.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="flower" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Папір' %}</div>
            </div>
            </a>

        </div>
        <div class="services__group">
            
            <a href="{% url 'category' towel.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  "  >
                        <canvas id="ship" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Рушники' %}</div>
            </div>
            </a>

            <a href="{% url 'category' horeca.slug %}">
            <div class="services__item">
                <div class="services__item_img">
                    <div class="services__img  ">
                        <canvas id="swan" width="300" height="300"></canvas>
                    </div>
                </div>
                <div class="services__item_title">{% trans 'Horeca' %}</div>
            </div>
            </a>

        </div>
    </div>
    <!-- <div class="categories__wrap">

        <div class="categories__item">
            <a class="" href="{% url 'servets_cat' %}">
                <div class="categories__item_img">
                    <img class="" src="{{patterned.image.url}}" alt="">
                </div>
                <div class="categories__item_title">{% trans "Салфетки" %}</div>
            </a>
        </div>

        <div class="categories__item">
            <a class="" href="{% url 'category' paper.slug %}">
                <div class="categories__item_img">
                    <img class="" src="{{paper.image.url}}" alt="">
                </div>
                <div class="categories__item_title">{{paper.title}}</div>
            </a>
        </div>


        <div class="categories__item">
            <a class="" href="{% url 'category' towel.slug %}">
                <div class="categories__item_img">
                    <img class="" src="{{towel.image.url}}" alt="">
                </div>
                <div class="categories__item_title">{{towel.title}}</div>
            </a>
        </div>


        <div class="categories__item">
            <a class="" href="{% url 'category' horeca.slug %}">
                <div class="categories__item_img">
                    <img class="" src="{{horeca.image.url}}" alt="">
                </div>
                <div class="categories__item_title">{{horeca.title}}</div>
            </a>
        </div>

    </div> -->
</section>