<section class="container container_top catalog">
    <div class="container__header">
        <h1 class="container__title">{{category.title}}</h1>
    </div>
    <div class="catalog__box">
        <div class="catalog__servise">
            {% include 'includes/filter.html' %}
            {% include 'includes/sort.html' %}
        </div>
        <div class="catalog__wrap">
        </div>
        {% include 'includes/pagination.html' %}
    </div>
</section>