<section class="container container_top constructor">
  <div class="constructor__box">
    <div class="constructor__wrap">
      <div class="constructor__section">
        <form action="" id="constructor__form" class="constructor__form form">
          <fieldset class="form__row">
            <div class="form__group ">
              <label class="form__input_name form__file" for="photo">Додати логотип (.png)</label>
              <input class="form__input-file" type="file" id="photo" name="photo" />
              <div class="form__input__img" id="file-logo">
                <svg width="21" height="17" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M20.6379 0.172363H0.362069C0.162207 0.172363 0 0.334208 0 0.534432V16.4655C0 16.6657 0.162207 16.8275 0.362069 16.8275H20.6379C20.8378 16.8275 21 16.6657 21 16.4655V0.534432C21 0.334208 20.8378 0.172363 20.6379 0.172363ZM20.2759 16.1034H0.724138V0.896501H20.2759V16.1034Z"
                    fill="#969696" />
                  <path
                    d="M5.79322 8.18775C6.90513 8.18775 7.80958 7.28331 7.80958 6.17175C7.80958 5.05948 6.90513 4.15503 5.79322 4.15503C4.6813 4.15503 3.77686 5.05948 3.77686 6.17139C3.77686 7.28331 4.6813 8.18775 5.79322 8.18775ZM5.79322 4.87917C6.50577 4.87917 7.08544 5.4592 7.08544 6.17139C7.08544 6.88358 6.50577 7.46362 5.79322 7.46362C5.08067 7.46362 4.50099 6.88394 4.50099 6.17175C4.50099 5.45956 5.08067 4.87917 5.79322 4.87917Z"
                    fill="#969696" />
                  <path
                    d="M2.53462 14.6552C2.61935 14.6552 2.7048 14.6255 2.77359 14.5651L8.68002 9.36502L12.4101 13.0947C12.5516 13.2363 12.7805 13.2363 12.922 13.0947C13.0636 12.9531 13.0636 12.7243 12.922 12.5827L11.1816 10.8423L14.5057 7.20202L18.583 10.9397C18.7303 11.0747 18.9595 11.0646 19.0946 10.9172C19.2296 10.7698 19.2198 10.5407 19.0721 10.4056L14.7273 6.42285C14.6563 6.35804 14.5618 6.32581 14.4666 6.32798C14.3707 6.33233 14.2801 6.37469 14.2153 6.44566L10.6692 10.3296L8.95193 8.61228C8.81652 8.47722 8.6 8.47035 8.45662 8.59635L2.2953 14.0212C2.14504 14.1534 2.13055 14.3822 2.26271 14.5325C2.3344 14.6139 2.43433 14.6552 2.53462 14.6552Z"
                    fill="#969696" />
                </svg>

              </div>
            </div>
          </fieldset>
          <fieldset class="form__row">
            <div class="form__group ">
              <label class="form__input_name  " for="color_napkins">Колір серветок</label>
              <input class="input_value" type="hidden" id="color_napkins" name="color_napkins" value="#FFFFFF" />
              <div class="form__input_control">
                <div class="partner__next_item"></div>
              </div>
              <div class="form__items">
                <div class="form__items_item item black__text" data-value="#FFFFFF">
                  <div class="item_color white"></div>
                  <div class="item_name black__text">Білий</div>
                </div>
                <div class="form__items_item item black__text" data-value="#FEDE00">
                  <div class="item_color yellow"></div>
                  <div class="item_name black__text">Жовтий</div>
                </div>
                <div class="form__items_item item" data-value="#6BD7E1">
                  <div class="item_color turquoise"></div>
                  <div class="item_name">Бірюза</div>
                </div>
                <div class="form__items_item item" data-value="#EE1C25">
                  <div class="item_color red"></div>
                  <div class="item_name">Червоний</div>
                </div>
                <div class="form__items_item item" data-value="#263B7A">
                  <div class="item_color blue"></div>
                  <div class="item_name">Синій</div>
                </div>
                <div class="form__items_item item" data-value="#000">
                  <div class="item_color black"></div>
                  <div class="item_name">Чорний</div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form__row">
            <div class="form__group   ">
              <label class="form__input_name  " for="form_factor">Форм фактор</label>
              <input class="input_value" type="hidden" id="form_factor" name="form_factor" value="form_factor_1" />
              <div class="form__input_control">
                <div class="partner__next_item"></div>
              </div>
              <div class="form__items form__items-mod">
                <div class="form__items_item item" data-value="form_factor_1">
                  <div class="  "></div>
                  <div class="item_name">45x45 </div>
                </div>
                <div class="form__items_item item" data-value="form_factor_2">
                  <div class="  "></div>
                  <div class="item_name">32x32</div>
                </div>


              </div>
            </div>
          </fieldset>
          <fieldset class="form__row">
            <div class="form__group ">
              <label class="form__input_name  " for="embossing">Тиснення</label>
              <input class="input_value" type="hidden" id="embossing" name="embossing" value="/static/img/tisnena/tik1.png"/>
              <div class="form__input_control">
                <div class="partner__next_item"></div>
              </div>
              <div class="form__items  form__items-mod form__items-wid50">
                <div class="form__items_item item" data-value="/static/img/tisnena/tik1.png">
                  <div class="item_icon  ">
                    <img src="/static/img/svg/polosu.svg" alt="">
                  </div>
                  <div class="item_name">Квадратик </div>
                </div>
                <div class="form__items_item item" data-value="/static/img/tisnena/tis.png">
                  <div class="item_icon  ">
                    <img src="/static/img/svg/polosu.svg" alt="">
                  </div>
                  <div class="item_name">Гірлянда</div>
                </div>

              </div>
            </div>
          </fieldset>
          <fieldset class="form__row">
            <div class="form__group ">
              <label class="form__input_name  " for="kind">Розворот серветки</label>
              <input class="input_value" type="hidden" id="kind" name="kind"  value="rect"/>
              <div class="form__input_control">
                <div class="partner__next_item"></div>
              </div>
              <div class="form__items  form__items-mod form__items-wid50">
                <div class="form__items_item item" data-value="rect">
                  <div class="item_icon  ">
                    <img src="/static/img/svg/rectangle.svg" alt="">
                  </div>
                  <div class="item_name">Прямокутник </div>
                </div>
                <div class="form__items_item item" data-value="triangles">
                  <div class="item_icon  ">
                    <img src="/static/img/svg/trickster.svg" alt="">
                  </div>
                  <div class="item_name">Трикутник</div>
                </div>

              </div>
            </div>
          </fieldset>
          <fieldset class="form__row item__done">
            <div class="form__group ">
              <label class="form__input_name-done" for="form_factor">Розворот серветки</label>
              <div class="constructor__section-mod">
                <img class="constructor__result" src="/static/img/constructor_test.png" alt="">
              </div>
            </div>
          </fieldset>


        </form>
      </div>
      <div class="constructor__section">
        <!-- <img class="constructor__result" src="/static/img/constructor_test.png" alt=""> -->
        <canvas  class="constructor__result" id="constructor_box1" width="300" height="300"></canvas>
      </div>

    </div>
    <a class="constructor_submit btn" id="submit_constructor" href="№">Замовити серветку</a>
  </div>



</section>