{% load i18n %}
<section class=" contact">
    <div class="contact__wrap">
        <div class="contact__group">
            <div class="contact__logo">
                <a href="#">
                    <object type="image/svg+xml" data="/static/img/svg/logo.svg"></object>
                </a>
            </div>
            <div class="contact__info">{% trans "Паперові вироби компаніїї Марго - свято для дому в будь-яку пору." %}</div>
        </div>
        <div class="contact__group contact__group-nav">
            <div class="contact__title">{% trans "Навігація" %}</div>
            <div class="contact__box">
                <div class="contact__box_item"><a href="{% url 'horeca' %}">{% trans "Horeca" %}</a> </div>
                <div class="contact__box_item"><a href="{% url 'privatelabel' %}">{% trans "Private Label" %}</a></div>
                <div class="contact__box_item"><a href="{% url 'constructor' %}">{% trans "Конструктор виробів" %}</a></div>
                <div class="contact__box_item"><a href="{% url 'partnership' %}">{% trans "Партнерство" %}</a></div>
                <div class="contact__box_item"><a href="{% url 'contact' %}">{% trans "Контакти" %}</a> </div>
            </div>

        </div>
        <div class="contact__group">
            <div class="contact__title">{% trans "Контакти" %}</div>
            <div class="contact__box">
                <div class="contact__box_item"><a href="tel:+380352434362">+38 (0352) 43-43-61</a> </div>
                <div class="contact__box_item"><a href="mailto:marketing@margoltd.com">marketing@margoltd.com</a> </div>
                <div class="contact__box_item"><a href="">{% trans "вул. Зелена, 15, с. Петрикiв" %}</a></div>
            </div>

        </div>
        <div class="contact__group">
            <div class="contact__title">{% trans "Розробка сайту" %}</div>
            <div class="contact__box">
                <div class="contact__box_item"><a href="https://starwayua.com/">StarwayUA</a></div>
            </div>

        </div>
    </div>
</section>