<div class="product">
    <div class="product__group">
        <div class="product__img">
            <img class=" b-lazy" src="" data-src="/static/img/card_img.jpg" alt="">
        </div>
        <div class="product__content">
            <div class="product__content_title">Серветки «Фрукти» ТМ МА111РГО </div>
            <div class="product__content_servise"> Код товару:
                <div class="product__content_namber">1145</div>
            </div>
        </div>
    </div>
    <div class="product__group">
        <div class="product__price_box">
            <div class="product__price_title">Ціна:</div>
            <div class="product__price">6,78 грн</div>
        </div>
        <div class="btn product__btn add_all_favours_button">Додати до кошика</div>
    </div>
    <div class="product_remove cross"></div>
</div>