{% load i18n %}
<div id="like_list" class="basket" style="display:none;">
    <div class="basket__wrap">
        <div class="basket__header">
            <div class="basket_title">{% trans "Список бажань" %}</div>
            <div class="basket_close cross"></div>
        </div>
        <div class="basket__box favour_items_box">
        </div>
        <div class="basket__footer basket__footer-like">
            <div class="basket__footer_btn btn add_all_favours_button">{% trans "Додати в кошик все" %}</div>
        </div>
    </div>
</div>