{% load i18n %}
<div class="catalog__filter">
    <div class="catalog__filter_img">
        <img src="/static/img/svg/filter.svg" alt="">{% trans "Фільтр" %}
    </div>
    <div class="catalog__filter_box">

        <div class="select__box">
            <div class="select_title">{% trans "Розмір серветок" %}:</div>
            <div class="select__group select__size">
                <div class="select_value">
                    <div class="select_value_name" data-type="size" data-id="all">{% trans 'Усі' %}</div>
                    <div class="select_value_control">
                        <span class=" arrow_bottom"></span>
                    </div>
                </div>
                <div class="select__items">
                        <div class="select__item" data-type="size" data-id="33_33">33x33</div>
                        <div class="select__item" data-type="size" data-id="24_24">24x24</div>
                        <div class="select__item" data-type="size" data-id="100_225">100x225</div>
                        <div class="select__item" data-type="size" data-id="220_225">220x225</div>
                </div>
            </div>
        </div>

        <div class="select__box">
            <div class="select_title">{% trans "Кількість шарів" %}:</div>
            <div class="select__group select__view">
                <div class="select_value">
                    <div class="select_value_name" data-type="layers" data-id="all">{% trans "Усі" %}</div>
                    <div class="select_value_control"><span class=" arrow_bottom"></span></div>
                </div>
                <div class="select__items">
                    <div class="select__item" data-type="layers" data-id="1">1</div>
                    <div class="select__item" data-type="layers" data-id="2">2</div>
                    <div class="select__item" data-type="layers" data-id="3">3</div>
                </div>
            </div>
        </div>
        
        <!-- <div class="select__box">
            <div class="select_title">{% trans "К-сть штук в упаковці" %}:</div>
            <div class="select__group select__view">
                <div class="select_value">
                    <div class="select_value_name" data-type="amount" data-id="all">{% trans "Будь-яка кількість" %}</div>
                    <div class="select_value_control"><span class=" arrow_bottom"></span></div>
                </div>
                <div class="select__items">
                    <div class="select__item" data-type="amount" data-id="">{% trans "" %}</div>
                    <div class="select__item" data-type="amount" data-id="">{% trans "" %}</div>
                </div>
            </div>
        </div> -->
        
    </div>
</div>

