{% load i18n %}
<div class="    hero">
    <div class="hero__main">
        <div class="hero__section">
            <h1 class="hero__section_title">Horeca</h1>
            <div class="hero__section_text">

                <p> Вам потрібні серветки для столу і ви бажаєте співпрацювати з надійним дистриб'ютором господарських товарів для сфери відпочинку та громадського харчування? Ми раді запропонувати свою співпрацю! інтернет-магазин хозтоварів Марго бере до уваги побажання своїх клієнтів. Тому серед барної продукції для індустрії гостинності HoReCa була створена окрема підкатегорія, де представлені товари цього напрямку. Мы гарантуємо, що на нашому сайті Ви можете швидко і легко замовити паперові серветки оптом, попередньо обравши те, що вам потрібно!</p>
                <p>Широкий асортимент продукції для сервірування столу! Серветки з фруктами Horeca, Серветки з малюнком та багато іншого. Зробіть вдалий вибір барних серветок для столу! Оптові ціни! Залишіть свої дані і ми вам перезвонимо.
                </p>
                <p>Доставка хозтоварів оптом по Україні через інтернет-магазин здійснюється протягом 2 днів. У нас хороші умови доставки, якщо Ви бажаєте купити серветки в Тернополі або Тернопільскій області! Придбайте оптом - безкоштовна доставка по Україні! Марго надійно працює з 2004 року!
                </p>

            </div>
        </div>
        <div class="hero__section">

        </div>
    </div>
    <div class="hero__footer">
        <div class="hero__footer_title">{% trans 'Довірте виготовлення продукції власної торгової марки саме нам!' %}</div>
        <div class="hero__footer_box">
            <div class="hero__footer_item experens"> {% trans 'Асортимент' %}</div>
            <div class="hero__footer_item quality">  {% trans 'Ціни' %}</div>
            <div class="hero__footer_item stability">{% trans 'Доставка' %} </div>
        </div>
    </div>

    <div class="hero__box">
        <img class="hero__form_img" src="/static/img/private_label.png" alt="Private Label">
        <form class="hero__form form" action="{% url 'user_contact' %}" method="POST">
        {% csrf_token %}

            <div class="form__container">
                <div class="form__container_img">
                    <object type="image/svg+xml" data="/static/img/svg/email.svg"></object>
                </div>
                <input class="form__container_input input_text" type="email" name="email" value="" placeholder="E-mail ">
            </div>
            <div class="form__container">
                <div class="form__container_img">
                    <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
                </div>
                <input class="form__container_input input_text" type="tel" name="tel" value="" placeholder="Номер телефону">
                <input type="hidden" name='request_type' value="Horeca">
            </div>
            <input class="form__container_control btn" type="submit" value="{% trans 'Замовити дзвінок' %}" name="button"> </input>
        </form>
    </div>
</div>