<section class=" container_top slider">
    <div class="slider__box">
        <div class="slider__wrap">
            <div class="slider" title="Horeca">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>
                <div class="slider__section">

                    <div class="slider__section_title">Рушники компанії “Марго”</div>
                    <div class="slider__section_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                    <div class="slider__section_button btn">Детальніше</div>
                </div>
            </div>
            <div class="slider" title="Private label">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">Рушники компанії “Марго”</div>
                    <div class="slider__section_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
            </div>
            <div class="slider" title="Конструктор виробів">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">Рушники компанії “Марго”</div>
                    <div class="slider__section_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
            </div>
            <div class="slider" title=" Партнерство ">
                <div class="slider__img">
                    <img class="slider__img lazyload" src="/static/img/svg/loader.svg" data-src="/static/img/slide1.jpg" alt="">
                </div>

                <div class="slider__section">
                    <div class="slider__section_title">Рушники компанії “Марго”</div>
                    <div class="slider__section_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                </div>
            </div>

        </div>
        <div class="slider__pagination">
            <div class="slider__pagination_current" href="#">01</div>
            <div class="slider__pagination_centr">/</div>
            <div class="slider__pagination_all" href="#">05</div>
        </div>
    </div>

</section>