{% load  i18n%}
<section class="  map-info">
    <div class="container__header">
        <h2 class="container__title">{% trans 'Де ми знаходимося?' %}</h2>
    </div>
    <div class="map-info__wrap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d20309.075323923767!2d30.4721233!3d50.4851493!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1568112332592!5m2!1sru!2sua" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>