{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<div class="main-menu__backgaunt"></div>
<header class="  ">
    <div class="header ">
        <div class="header__hamburger">
            <div class="hamburger hamburger--slider js-hamburger  ">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
        <div class="header__main  main-menu">

            <div class="main-menu__header">
                <div class="main-menu__btn">
                    <div class="hamburger hamburger--slider js-hamburger  ">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="main-menu__servise">

                    <!-- <div class="header__servise_item main-menu__login header__login_login login"> -->
                    {% if request.user.is_anonymous %}
                    <div class="header__servise_item main-menu__login login header__login_login">
                        <a href="{% url 'account_login' %}">
                        <div class="login__wrap ">
                            <div class="login__icon main-menu__icon ">
                                <svg width="17" height="17" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6083 10.2653L12.1435 10.1054L12.5473 9.82745C14.0138 8.81844 14.8861 7.15832 14.8861 5.38778C14.8899 2.41784 12.4711 0 9.5 0C6.52887 0 4.11006 2.41784 4.11006 5.38778C4.11006 7.15832 4.98617 8.81844 6.44888 9.82745L6.85265 10.1054L6.38793 10.2653C5.02807 10.7375 3.81295 11.499 2.78067 12.5309C1.0437 14.2671 0.0609463 16.5555 0 19H1.02847C1.15798 14.4423 4.90998 10.7756 9.5 10.7756C14.09 10.7756 17.842 14.4423 17.9715 19H19C18.9391 16.5555 17.9563 14.2671 16.2193 12.5309C15.187 11.499 13.9719 10.7375 12.6083 10.2653ZM5.13853 5.38778C5.13853 2.98517 7.09643 1.02806 9.5 1.02806C11.9036 1.02806 13.8615 2.98517 13.8615 5.38778C13.8615 7.79038 11.9036 9.74749 9.5 9.74749C7.09643 9.74749 5.13853 7.79038 5.13853 5.38778Z" fill="#EC3A34" />
                                </svg>
                            </div>
                                <div class="login__text main-menu__text">{% trans "Вхід" %}</div>
                        </div>
                        </a>
                    </div>
                    {% elif request.user.is_authenticated%}
                    <a href="{% url 'profile' %}">
                    <div class="header__servise_item main-menu__login login">
                        <div class="login__wrap ">
                            <div class="login__icon main-menu__icon ">
                                <svg width="17" height="17" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.6083 10.2653L12.1435 10.1054L12.5473 9.82745C14.0138 8.81844 14.8861 7.15832 14.8861 5.38778C14.8899 2.41784 12.4711 0 9.5 0C6.52887 0 4.11006 2.41784 4.11006 5.38778C4.11006 7.15832 4.98617 8.81844 6.44888 9.82745L6.85265 10.1054L6.38793 10.2653C5.02807 10.7375 3.81295 11.499 2.78067 12.5309C1.0437 14.2671 0.0609463 16.5555 0 19H1.02847C1.15798 14.4423 4.90998 10.7756 9.5 10.7756C14.09 10.7756 17.842 14.4423 17.9715 19H19C18.9391 16.5555 17.9563 14.2671 16.2193 12.5309C15.187 11.499 13.9719 10.7375 12.6083 10.2653ZM5.13853 5.38778C5.13853 2.98517 7.09643 1.02806 9.5 1.02806C11.9036 1.02806 13.8615 2.98517 13.8615 5.38778C13.8615 7.79038 11.9036 9.74749 9.5 9.74749C7.09643 9.74749 5.13853 7.79038 5.13853 5.38778Z" fill="#EC3A34" />
                                </svg>
                            </div>
                                <div class="login__text main-menu__text">{% trans "Профиль" %}</div>
                        </div>
                    </div>
                    </a>
                    {% endif %}
                    <div class="header__servise_item lang">
                        {% include 'includes/lang.html' %}
                    </div>
                </div>
                <div class="header__main_item  logo">
                    <a class="logo__link" href="{% url 'index' %}">
                    <img src="/static/img/svg/logo.svg" alt="">
                    </a>
                </div>

            </div>

            <div class="header__main_item">
                <a href="{% url 'horeca' %}">
                <div>Horeca</div>
            </a>
            </div>
            <div class="header__main_item">
                <a href="{% url 'privatelabel' %}">
                    <div>Prvate Label </div>
                </a>
                </div>
                <div class="header__main_item">
                <a href="{% url 'constructor' %}">
                        <div>{% trans "Конструктор виробів"%}</div>
                    </a>
                    </div>
                    <div class="header__main_item">
                    <a href="{% url 'partnership' %}">
                    <div>{% trans "Партнерство"%}</div>
                </a>
                </div>
                <div class="header__main_item">
                    <a href="{% url 'contact' %}">
                        <div>{% trans "Контакти" %}</div>
                    </a>
                    </div>
                    <div class="header__main_item">
                    <a href="{% url 'shop' %}">
                        <div>{% trans "Магазин" %}</div>
                    </a>
                    </div>
                <div class="main-menu__border"></div>
                <div class="header__main_item main-menu_item basket-form">
                    <div>{% trans "Кошик" %}</div>
                </div>
                <div class="header__main_item main-menu_item like-list-form">
                    <div>{% trans "Список бажань" %}</div>
                </div>

        </div>
        <div class="header__servise ">

            <div class="header__servise_item search header__login_search">
                <form class="search__form" action="{% url 'search' %}" method="GET">
                    <input class="search__input" type="text" name="q" style="color:black" placeholder="Пошук...">
                    <!-- <button type="submit" class="submit"><i class="icon-search-1"></i></button> -->
                    <div class="search__icon">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg_search" d="M15.6882 7.55825C15.6882 3.39117 12.1719 0 7.84614 0C3.52034 0 0 3.39117 0 7.55825C0 11.7253 3.52034 15.1165 7.84614 15.1165C9.46525 15.1165 11.0189 14.6439 12.3396 13.7498L12.7689 13.4583L18.1577 18.8582C18.2518 18.9527 18.3744 19.0039 18.5094 19.0039C18.6361 19.0039 18.7588 18.9567 18.8487 18.874C19.045 18.6928 19.0491 18.3934 18.861 18.2083L13.4926 12.8203L13.8483 12.4146C15.034 11.0558 15.6882 9.33064 15.6882 7.55825ZM7.84614 14.1712C4.06004 14.1712 0.981278 11.2015 0.981278 7.55825C0.981278 3.91107 4.06004 0.945274 7.84614 0.945274C11.6322 0.945274 14.711 3.91107 14.711 7.55825C14.711 11.2015 11.6281 14.1712 7.84614 14.1712Z" fill="#EC3A34" />
                        </svg>
                    </div>
                </form>
            </div>

            <div class="header__servise_item  header__login_lang">
                {% include 'includes/lang.html' %}
            </div>
            <div class="header__servise_item like header__login_like like-list-form ">
                <div class="like__box">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5413 0.833166C13.0809 0.833166 11.7077 1.40419 10.6725 2.44464L10.0068 3.11376L9.33058 2.43413C8.2954 1.39368 6.91864 0.819153 5.45824 0.819153C4.00132 0.819153 2.63153 1.39018 1.59984 2.42713C0.56466 3.46758 -0.00346951 4.84785 1.59425e-05 6.31219C1.59425e-05 7.77653 0.57163 9.15329 1.60681 10.1972L9.69307 18.3247C9.77323 18.4053 9.88128 18.4508 9.99282 18.4508C10.1044 18.4508 10.2124 18.4053 10.2926 18.3282L18.3962 10.2113C19.4314 9.17081 19.9996 7.79054 19.9996 6.3227C20.003 4.85485 19.4384 3.47108 18.4032 2.43413C17.3715 1.40419 16.0017 0.833166 14.5413 0.833166ZM17.8002 9.61221L9.99282 17.4279L2.20282 9.5982C1.32797 8.71889 0.846981 7.55232 0.846981 6.31569C0.846981 5.07205 1.32797 3.90548 2.19934 3.03669C3.0707 2.16088 4.22787 1.68094 5.45824 1.68094C6.69558 1.68094 7.85623 2.16439 8.73108 3.04369L9.70352 4.02109C9.78369 4.10166 9.89174 4.1472 10.0033 4.1472C10.1148 4.1472 10.2229 4.10166 10.303 4.02109L11.2685 3.0507C12.1433 2.17139 13.304 1.68795 14.5344 1.68795C15.7647 1.68795 16.9219 2.17139 17.7967 3.04369C18.6681 3.91949 19.1491 5.08606 19.1491 6.3297C19.1526 7.56283 18.6751 8.7294 17.8002 9.61221Z" fill="#EC3A34" />
                    </svg>
                    <div class="basket__count likes_counter">
                        <span>{{ favour_items.count }}</span>
                    </div>

                </div>
            </div>
            <div class="header__servise_item basket header__login_basket inline basket-form">
                <div class=" basket__box_icon">
                    <div class="basket__icon">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.1288 6.39766H10.9003V0.742188C10.9003 0.333984 10.5764 0 10.1804 0H8.81963C8.42365 0 8.09966 0.333984 8.09966 0.742188V6.39766H0.871163C0.388784 6.39766 0 6.80215 0 7.2957V9.2291C0 9.72266 0.388784 10.1271 0.871163 10.1271H0.997158L1.97992 17.3152C2.10951 18.2764 2.91588 19 3.85904 19H15.141C16.0805 19 16.8905 18.2764 17.0237 17.3152L18.0064 10.1271H18.1324C18.6112 10.1271 19.0036 9.72637 19.0036 9.2291V7.2957C19 6.80215 18.6076 6.39766 18.1288 6.39766ZM8.85563 0.779297H10.1408V8.23086H8.85563V0.779297ZM16.2713 17.2076C16.1921 17.7865 15.7061 18.2207 15.141 18.2207H3.85904C3.29386 18.2207 2.80788 17.7865 2.72869 17.2076L1.76033 10.1271H17.2397L16.2713 17.2076ZM18.2404 9.2291C18.2404 9.29219 18.19 9.34785 18.1252 9.34785H0.871163C0.809966 9.34785 0.755968 9.2959 0.755968 9.2291V7.2957C0.755968 7.23262 0.806366 7.17695 0.871163 7.17695H8.09966V8.26797C8.09966 8.67617 8.42365 9.01016 8.81963 9.01016H10.1804C10.5764 9.01016 10.9003 8.67617 10.9003 8.26797V7.17695H18.1288C18.19 7.17695 18.244 7.22891 18.244 7.2957L18.2404 9.2291Z" fill="#EC3A34" />
                            <path d="M4.08584 11.04C3.87705 11.04 3.70786 11.2145 3.70786 11.4297V16.8922C3.70786 17.1074 3.87705 17.2818 4.08584 17.2818C4.29463 17.2818 4.46382 17.1074 4.46382 16.8922V11.4297C4.46742 11.2145 4.29823 11.04 4.08584 11.04Z" fill="#EC3A34" />
                            <path d="M6.25292 11.04C6.04413 11.04 5.87494 11.2145 5.87494 11.4297V16.8922C5.87494 17.1074 6.04413 17.2818 6.25292 17.2818C6.46171 17.2818 6.63091 17.1074 6.63091 16.8922V11.4297C6.63091 11.2145 6.46171 11.04 6.25292 11.04Z" fill="#EC3A34" />
                            <path d="M8.41644 11.04C8.20765 11.04 8.03845 11.2145 8.03845 11.4297V16.8922C8.03845 17.1074 8.20765 17.2818 8.41644 17.2818C8.62523 17.2818 8.79442 17.1074 8.79442 16.8922V11.4297C8.79442 11.2145 8.62523 11.04 8.41644 11.04Z" fill="#EC3A34" />
                            <path d="M10.5836 11.04C10.3748 11.04 10.2056 11.2145 10.2056 11.4297V16.8922C10.2056 17.1074 10.3748 17.2818 10.5836 17.2818C10.7923 17.2818 10.9615 17.1074 10.9615 16.8922V11.4297C10.9615 11.2145 10.7923 11.04 10.5836 11.04Z" fill="#EC3A34" />
                            <path d="M12.7471 11.04C12.5383 11.04 12.3691 11.2145 12.3691 11.4297V16.8922C12.3691 17.1074 12.5383 17.2818 12.7471 17.2818C12.9559 17.2818 13.1251 17.1074 13.1251 16.8922V11.4297C13.1251 11.2145 12.9559 11.04 12.7471 11.04Z" fill="#EC3A34" />
                            <path d="M14.9106 11.04C14.7018 11.04 14.5326 11.2145 14.5326 11.4297V16.8922C14.5326 17.1074 14.7018 17.2818 14.9106 17.2818C15.1194 17.2818 15.2886 17.1074 15.2886 16.8922V11.4297C15.2886 11.2145 15.1194 11.04 14.9106 11.04Z" fill="#EC3A34" />
                        </svg>

                    </div>
                    <div class="basket__count items_counter">
                        <span>{{ cart_items_amount }}</span>
                    </div>

                </div>
            </div>
            {% if request.user.is_anonymous %}

            <!-- <div class="header__servise_item login header__login_main header__login_login"> -->
            <div class="header__servise_item login header__login_main header__login_login header__login_login">
                <a href="{% url 'account_login' %}">
                  <div class="login__wrap">
                      <div class="login__border"></div>
                      <div class="login__icon">
                          <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12.6083 10.2653L12.1435 10.1054L12.5473 9.82745C14.0138 8.81844 14.8861 7.15832 14.8861 5.38778C14.8899 2.41784 12.4711 0 9.5 0C6.52887 0 4.11006 2.41784 4.11006 5.38778C4.11006 7.15832 4.98617 8.81844 6.44888 9.82745L6.85265 10.1054L6.38793 10.2653C5.02807 10.7375 3.81295 11.499 2.78067 12.5309C1.0437 14.2671 0.0609463 16.5555 0 19H1.02847C1.15798 14.4423 4.90998 10.7756 9.5 10.7756C14.09 10.7756 17.842 14.4423 17.9715 19H19C18.9391 16.5555 17.9563 14.2671 16.2193 12.5309C15.187 11.499 13.9719 10.7375 12.6083 10.2653ZM5.13853 5.38778C5.13853 2.98517 7.09643 1.02806 9.5 1.02806C11.9036 1.02806 13.8615 2.98517 13.8615 5.38778C13.8615 7.79038 11.9036 9.74749 9.5 9.74749C7.09643 9.74749 5.13853 7.79038 5.13853 5.38778Z" fill="#EC3A34" />
                          </svg>
                      </div>
                      <div class="login__text">{% trans "Вхід" %}</div>
                  </div>
                </a>
            </div>

            {% endif %}
            {% if request.user.is_authenticated%}

            <!-- <div class="header__servise_item login header__login_main header__login_login"> -->

            <div class="header__servise_item login header__login_main header__login_login">

              <a href="{% url 'profile' %}">
                <div class="login__wrap">
                    <div class="login__border"></div>
                    <div class="login__icon">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.6083 10.2653L12.1435 10.1054L12.5473 9.82745C14.0138 8.81844 14.8861 7.15832 14.8861 5.38778C14.8899 2.41784 12.4711 0 9.5 0C6.52887 0 4.11006 2.41784 4.11006 5.38778C4.11006 7.15832 4.98617 8.81844 6.44888 9.82745L6.85265 10.1054L6.38793 10.2653C5.02807 10.7375 3.81295 11.499 2.78067 12.5309C1.0437 14.2671 0.0609463 16.5555 0 19H1.02847C1.15798 14.4423 4.90998 10.7756 9.5 10.7756C14.09 10.7756 17.842 14.4423 17.9715 19H19C18.9391 16.5555 17.9563 14.2671 16.2193 12.5309C15.187 11.499 13.9719 10.7375 12.6083 10.2653ZM5.13853 5.38778C5.13853 2.98517 7.09643 1.02806 9.5 1.02806C11.9036 1.02806 13.8615 2.98517 13.8615 5.38778C13.8615 7.79038 11.9036 9.74749 9.5 9.74749C7.09643 9.74749 5.13853 7.79038 5.13853 5.38778Z" fill="#EC3A34" />
                        </svg>
                    </div>
                    <div class="login__text">{% trans "Профиль" %}</div>
                </div>
              </a>

            </div>

            {% endif %}
        </div>
    </div>
</header>
