{% load i18n %}
<section class="container_top">
    <div class="container_top ordering">
        <h2>Оформлення замовлення</h2>
        <form style=" " method="POST" action="." class="make_order_form ">
            {% csrf_token %}

            <input type="hidden" name="name"     value="">
            <input type="hidden" name="phone"    value="">
            <input type="hidden" name="email"    value="">
            <input type="hidden" name="comment"  value="">
            <input type="hidden" name="address"  value="">
            <input type="hidden" name="payment"  value="">
            <input type="hidden" name="delivery" value="">

            <div class="ordering__section-group ordering__section-group-input">

                <div class="form-group form-group-colum">
                <label for="username" class="sr-only">  П.І.Б</label>
                <input type="text" class="form-control name"  id="username" placeholder="П.І.Б" autocomplete="off">
                    <span class="form-group_error">{% trans "Обязательно для заполнения" %}</span>
                </div>

                <div class="form-group form-group-colum">
                <label for="username" class="sr-only">Email-адреса</label>
                <input type="email" class="form-control email" id="email" placeholder="Email-адреса" data-validate autocomplete="off">
                    <span class="form-group_error">{% trans "Обязательно для заполнения" %}</span>
                </div>

                <div class="form-group form-group-colum">
                <label for="username" class="sr-only">Номер телефону</label>
                <input type="tel" class="form-control phone" id="phone" placeholder="Номер телефону" data-validate autocomplete="off">
                    <span class="form-group_error">{% trans "Обязательно для заполнения" %}</span>
                </div>

                <div class="form-group form-group-colum">
                <label for="username" class="sr-only">{% trans "Адреса доставки" %}</label>
                <input type="text" class="form-control address" id="address" placeholder="Адрес" autocomplete="off">
                </div>

            </div>
            <div class="ordering__section-group ordering__section-group-textarea">

                <div id="div_id_comment " class="form-group form-group-colum">
                    <textarea cols="40" rows="30" class="textarea form-control-text comment" placeholder="{% trans 'Ваше повідомлення (коментар)' %}'" required="" id="id_comment"></textarea>
                </div>

            </div>
            <div class="ordering__section-group ordering__section-group-mod ordering__section-group-list">

                <div class="form-group">
                <div class="select__box">
                    <div class="select_title">{% trans "Спосіб доставки" %}:</div>
                    <div class="select__group select__view">
                        <div class="select_value">
                            <div class="select_value_name delivery" data-id="samovyviz">{% trans "Самовивіз" %}</div>
                            <div class="select_value_control">
                                <span class=" arrow_bottom"></span>
                            </div>
                        </div>
                        <div class="select__items">
                            <div class="select__item" data-id="urkposhta">{% trans "Укрпочта" %}</div>
                            <div class="select__item" data-id="novaposhta">{% trans "Нова Почта" %}</div>
                        </div>
                    </div>
                </div>
                </div>
                {% if not flag == "napkin" %}
                <div class="form-group">
                <div class="select__box">
                    <div class="select_title">{% trans "Спосіб оплати" %}:</div>
                    <div class="select__group select__view">
                        <div class="select_value">
                            <div class="select_value_name payment" data-id="privat">{% trans "Приват24" %}</div>
                            <div class="select_value_control">
                                <span class=" arrow_bottom"></span>
                            </div>
                        </div>
                        <div class="select__items">
                            <div class="select__item" data-id="manager">{% trans "Менеджер" %}</div>
                        </div>
                    </div>
                </div>
                </div>
                {% endif %}

            </div>
            <div class="ordering__section-group ordering__section-group-btn">

                <div class="form-group form-group-btn">
                    <input class="btn" type="submit" id="ordering_form" value="Оформити замовлення">
                </div>

            </div>
        </form>
    </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function(){
    $('#ordering_form').on('click', (e) => {
      e.preventDefault();
      name     = $('.name').val()
      email    = $('.email').val()
      phone    = $('.phone').val()
      address  = $('.address').val()
      comment  = $('.comment').val()
      payment  = $('.payment').data('id')//.text();
      delivery = $('.delivery').data('id')//.text();
      hidden_name     = $("input[name=name]")
      hidden_phone    = $("input[name=phone]")
      hidden_email    = $("input[name=email]")
      hidden_comment  = $("input[name=comment]")
      hidden_address  = $("input[name=address]")
      hidden_payment  = $("input[name=payment]")
      hidden_delivery = $("input[name=delivery]")
      hidden_name.val(name)
      hidden_phone.val(phone)
      hidden_email.val(email)
      hidden_comment.val(comment)
      hidden_address.val(address)
      hidden_payment.val(payment)
      hidden_delivery.val(delivery)
      $('.make_order_form').submit();
    })
  })
  </script>