{% load i18n %}
<div class="container_top   hero">
<div class="hero__main">
    <div class="hero__section">
    <h1 class="hero__section_title">{% trans "Партнерство з нами" %}</h1>
    <div class="hero__section_text">
        <p> Наш багаторічний досвід стабільної роботи з найбільшими національними мережами України є запорукою стабільної співпраці з Вами.   </p>
        <p>Всі серветки виготовлені з 100% целюлози і виробляються в двох основних розмірах 33х33 см і 24х24 см.
        </p>
        <p>  Замовник може підібрати найоптимальнішу ціну серветок завдяки широкому вибору одношарових, двошарових і тришарових серветок.
        </p>
        <p>  Орієнтуючи своє виробництво на європейську якість, торгова марка «Марго» заснувала новий український стандарт виробництва паперових серветок розміром 33х33см і 24х24см. В 2010 році відбулось розширення асортименту компанії новою продукцією. Було встановлено лінію по виготовленні туалетного паперу і паперових рушників. В 2012 році розпочато власне виробництво паперових рушників Z-складання для диспенсерів.
        ТОВ Марго пропонує великим оптовим компаніям і мережам супермаркетів продукцію під їх власним брендом - private label.
        Замовляйте якісну та красиву продукцію від українського виробника, компанії МАРГО.
        </p>
    </div>
    </div>
    <div class="hero__section">
    </div>
</div>
<div class="hero__box">
    <img class="hero__form_img" src="/static/img/private_label.png" alt="Private Label">
    <form class="hero__form form" action="{% url 'user_contact' %}" method='POST'>
    {% csrf_token %}
    <div class="form__container">
        <div class="form__container_img">
        <object type="image/svg+xml" data="/static/img/svg/email.svg"  ></object>
        </div>
        <input class="form__container_input input_text" type="email" name="email" value="" placeholder="E-mail ">
    </div>
    <div class="form__container">
        <div class="form__container_img">
        <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
        </div>
        <input name="request_type" type="hidden" value="Партнерство"/>
        <input class="form__container_input input_text" type="tel" name="tel" value="" placeholder="Номер телефону">
    </div>
    <input class="form__container_control btn" type="submit" name="button">{% trans "Замовити дзвінок" %}</input>
    </form>
</div>
</div>