{% load i18n %}
<section class="container partner">
<div class="container__header">
    <h2 class="container__title">{% trans "З нами працюють" %}</h2>
</div>
<div class="partner__box">
    <div class="partner__prew">
    <div class="partner__prew_item"></div>
    </div>
    <div class="partner__wrap">
    <div class="partner__item">
        <img сclass="" src="/static/img/brusnuchka.png" alt="">
    </div>
    <div class="partner__item">
        <img сclass="" src="/static/img/auchan.png" alt="">
    </div>
    <div class="partner__item">
        <img сclass="" src="/static/img/ikea.jpg" alt="">
    </div>
    <div class="partner__item">
        <img сclass="" src="/static/img/ikea.jpg" alt="">
    </div>
    <div class="partner__item">
        <img сclass="" src="/static/img/ikea.jpg" alt="">
    </div>
    <div class="partner__item">
        <img сclass="" src="/static/img/premia.png" alt="">
    </div>
    </div>
    <div class="partner__next">
        <div class="partner__next_item"></div>
    </div>
</div>

</section>