<form 
    action="https://api.privatbank.ua/p24api/ishop" 
    method="post" 
    class="container form" 
    id="privat24_pay_form">
    {% csrf_token %}
    <div id="form">
        {{ form.as_p }}
        <p class="blue_text_popup">Всього: {{ form.amt.value }} грн</p>
    </div>
    <div class="clear10"></div>
    <button type="submit" class="btn btn-default">Сплатити</button>
    <!-- <h2>После совершения покупки обязательно нажмите на кнопку "Вернуться на сайт", иначе менеджер на сайте не увидит что ваша оплата была произведена успешно</h2>
    <h2>Уважаемые Клиенты, в результате подключения к Сервису мерчанта приват24 часто возникает вопрос: 
        "Почему я не могу оплатить, возникает ошибка при оплате "save payment fail:Payment id '104790' is already exists paydata error". 
        Данная ошибка возникает при повторной попытке оплаты заявки через мерчант. 
        Другими словами - так уж устроен приват24 (это дополнительная защита от повторной отправки средств на стороне приват24), 
        то есть у Вас есть только 1 попытка оплаты заявки. В случае, если у Вас не получилось оплатить с первого раза, 
        то придется создавать новую заявку (в данной ситуации при создании новых заявок убедительная просьба отменять старые).
        Обращаем Ваше внимание на то, что при создании 3-х и более неоплаченных заявок администрация может заблокировать Вам доступ к аккаунту 
        и к Сервису в целом, будьте внимательны при совершении оплаты.
    </h6> -->
    </form>