{% load i18n %}
<div class="container_top   hero">
<div class="hero__main">
    <div class="hero__section">
    <h1 class="hero__section_title">Private Label</h1>
    <div class="hero__section_text">
        <p>Гнучкість виробництва фірми дає можливість виконувати об’ємні замовлення для відомих торгових марок в максимальному асортименті і в найкоротші терміни.
        <p>Асортимент, який компанія «Марго» готова виготовляти під замовлення, складається з 1-о, 2- і 3-шарових серветок з малюнком і різноманітних відтінків. Додатково потужності виробництва дозволяють забезпечувати замовників продукції ВТМ такими товарами як туалетний папір 2 і 3-шаровий, паперові рушники, рушники диспенсерні Z-складання.</p>
        <p>Компанія Марго являється лідером з найбільшим досвідом по виготовленню серветок високої якості для замовників приватних торгових марок.</p>
        <p> Наш багаторічний досвід стабільної роботи з найбільшими національними мережами України є запорукою стабільної співпраці з Вами.   </p>

    </div>
    </div>
    <div class="hero__section">

    </div>
</div>
<div class="hero__footer">
    <div class="hero__footer_title">{% trans "Довірте виготовлення продукції власної торгової марки саме нам!" %}</div>
    <div class="hero__footer_box">
    <div class="hero__footer_item experens">{% trans "Досвід" %}</div>
    <div class="hero__footer_item quality">{% trans "Якість" %}</div>
    <div class="hero__footer_item stability">{% trans "Стабільність" %}</div>
    </div>
</div>
<div class="hero__box">
    <img class="hero__form_img" src="/static/img/private_label.png" alt="Private Label">
    <form class="hero__form form" action="{% url 'user_contact' %}" method='POST'>
    {% csrf_token %}
    <div class="form__container">
        <div class="form__container_img">
        <object type="image/svg+xml" data="/static/img/svg/email.svg"  ></object>
        </div>
        <input class="form__container_input input_text" type="email" name="email" value="" placeholder="E-mail ">
    </div>
    <div class="form__container">
        <div class="form__container_img">
        <object type="image/svg+xml" data="/static/img/svg/phone-call.svg"></object>
        </div>
        <input class="form__container_input input_text" type="tel" name="tel" value="" placeholder="{% trans 'Номер телефону' %}">
    </div>
    <input type="hidden" name="request_type" value="Privatelabel">
    <input class="form__container_control btn" type="submit" name="button">{% trans "Почати співпрацю" %}</input>
    </form>
</div>
</div>