{% load i18n %}
<section class="container  ">
<div class="container__header">
    <h2 class="container__title">Private Label</h2>
</div>

<div class="info-v2__box">
    <div class="info-v2__section">
    <div class="info-v2__section_img">
        <img src="/static/img/private_label.jpg" alt="">
    </div>
    <div class="info-v2__section_text">
        <p>{% trans "Гнучкість виробництва фірми дає можливість виконувати об’ємні замовлення для відомих торгових марок в максимальному асортименті і в найкоротші терміни." %}</p>
        <p>{% trans "Асортимент, який компанія «Марго» готова виготовляти під замовлення, складається з 1-о, 2- і 3-шарових серветок з малюнком і різноманітних відтінків. Додатково потужності виробництва дозволяють забезпечувати замовників продукції ВТМ такими товарами як туалетний папір 2 і 3-шаровий, паперові рушники, рушники диспенсерні Z-складання." %}</p>
        <p>{% trans "Компанія Марго являється лідером з найбільшим досвідом по виготовленню серветок високої якості для замовників приватних торгових марок." %}</p>
        <p>{% trans "Наш багаторічний досвід стабільної роботи з найбільшими національними мережами України є запорукою стабільної співпраці з Вами." %}</p>

    </div>
    </div>
    <div class="info-v2__section_button btn">{% trans "Почати співпрацю" %}</div>
</div>
</section>