{% load crispy_forms_tags  i18n %}
<div class="container_top">
  <section class="container profil">
    <nav class="profil__block">
      <div class="profil__avatar">
        <img class="profil__avatar_img " src="/static/img/user_avatar.png" alt="">
        <h5>lobatskiy31</h5>
      </div>
      <div class="profil__navigation">
        <div class="profil__navigation_link profil__navigation_link-active" data-nav="profil__nav1"><span><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cog" class="svg-inline--fa fa-cog fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path></svg></span>
          Панель управління</div>
        <div class="profil__navigation_link" data-nav="profil__nav2">
        <span>
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="list" class="svg-inline--fa fa-list fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path></svg>
        </span>
          Замовлення</div>
        <div class="profil__navigation_link" data-nav="profil__nav3">
          <span>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="id-badge" class="svg-inline--fa fa-id-badge fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M336 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM144 32h96c8.8 0 16 7.2 16 16s-7.2 16-16 16h-96c-8.8 0-16-7.2-16-16s7.2-16 16-16zm48 128c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H102.4C90 416 80 407.4 80 396.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2z"></path></svg>
          </span>
          Деталі
        </div>
        <a class="profil__navigation_link-a" href="{% url 'account_logout' %}">
          <span>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="door-open" class="svg-inline--fa fa-door-open fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M624 448h-80V113.45C544 86.19 522.47 64 496 64H384v64h96v384h144c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM312.24 1.01l-192 49.74C105.99 54.44 96 67.7 96 82.92V448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h336V33.18c0-21.58-19.56-37.41-39.76-32.17zM264 288c-13.25 0-24-14.33-24-32s10.75-32 24-32 24 14.33 24 32-10.75 32-24 32z"></path></svg>
          </span>
          {% trans 'Вихід' %}
        </a>
      </div>
    </nav>
    <div class="profil__info">
      <div id="profil__nav1" class="profil__content profil__content-active">
        <div class="">
          <p>Вітаємо, <strong>{{request.user.username}}</strong> (не <strong>{{request.user.username}}</strong>? <a class="profil__content_link" href="{% url 'account_logout' %}">{% trans 'Вийти' %}</a>)</p>
          <!-- <p>З головної сторінка акаунту ви можете переглядати ваші <a  class="profil__content_link" href="#">останні замовлення</a>, <a  class="profil__content_link"  href="#">змінити пароль та головну інформацію</a>.</p> -->
          <p><a  class="profil__content_link"  href="{% url 'account_reset_password'%}">Змінити пароль?</a></p>
        </div>
      </div>
      <div id="profil__nav2" class="profil__content">
        <div class="profil__content_order">
        <!-- <div class="profil__content_order-not">
          <span>Замовлень ще не створено. </span>
          <a class="btn" href="#">Перейти в магазин</a></div>
        </div> -->
        <div class="profil__content_order-yes">
          <h4 class="profil__content_title">Замовлення</h4>
          {% for order in orders %}
            <div class="profil__order_item">
              <h4>Заказ № {{order.pk}} ({{order.created}}) (<a class="profil__content_link" href="{% url 'delete_order' pk=order.pk %}">{% trans 'Удалить?' %}</a>)</h4>

              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans "Название товара" %}</th>
                    <th>{% trans "Количество" %}</th>
                    <th>{% trans "Цена за единицу" %}</th>     
                    <th>{% trans "Сумма" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cart_item in order.items.all %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{cart_item.item.name}}</td>
                    <td>{{cart_item.quantity}}</td>
                    <td>{{cart_item.price_per_item}}</td>
                    <td>{{cart_item.total_price}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          {% empty%}
            <p>{% trans "Вы не совершили никаких заказов" %}</p>
          {% endfor %}
        </div>
      </div>
        </div>
      <div id="profil__nav3" class="profil__content">
        <form class="form ordering profile" action="{% url 'profile' %}" method="POST">{% csrf_token %}
          <input type="hidden" name="username" value="{{request.user.username}}">
          <div class="form-row">
            <div class="form-group  ">
              <!-- <label for="account_first_name">Ім'я<span class="">*</span></label> -->
              <input type="text" class="form-control  " name="first_name" id="account_first_name" placeholder="{% trans 'Імя' %}" autocomplete="given-name" value="{{request.user.first_name}}">
            </div>
            <div class=" form-group  ">
              <!-- <label for="account_last_name">Прізвище<span class="required">*</span></label> -->
              <input type="text" class="form-control  " name="last_name" id="account_last_name" placeholder="{% trans 'Прізвище' %}" autocomplete="family-name" value="{{request.user.last_name}}">
            </div>
          </div>
          <div class="form-row">
            <div class=" form-group">
              <input type="text" class="form-control" name="phone_number" id="account_phone_number" placeholder="{% trans ' Контактний номер телефону' %}"value="{{request.user.phone_number}}"> 
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="account_email" autocomplete="email" placeholder="{% trans 'Контактний E-mail' %}" value="{{request.user.email}}">
            </div>
          </div>
          <!-- 
          <fieldset>
            <legend>Зміна паролю</legend>
            <div class="input-group">
              <label for="password_current">Поточний пароль (не заповнюйте, щоб залишити попередній)</label>
              <input type="password" class="form-control" name="password_current" id="password_current" autocomplete="off">
            </div>
            <div class="input-group">
              <label for="password_1">Новий пароль (не заповнюйте, щоб залишити попередній)</label>
              <input type="password" class="form-control" name="password_1" id="password_1" autocomplete="off">
            </div>
            <div class="input-group">
              <label for="password_2">Підтвердіть новий пароль</label>
              <input type="password" class="form-control" name="password_2" id="password_2" autocomplete="off">
            </div>
          </fieldset> 
          -->
          <div class="form-row">
            <input class="btn btn-margin" type="submit" id="ordering_form" value="{% trans 'Зберегти зміни' %}">
          </div>
        </form>
      </div>
      <div id="profil__nav4" class="">
      </div>
    </div>
  </section>
</div>