<script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>

<script src="/static/js/swiper.min.js" type="text/javascript"></script>
<script src="/static/js/intersection-observer-polyfill.js" type="text/javascript"></script>
<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/static/js/modaal.min.js" type="text/javascript"></script>
<script src="/static/js/fabric.min.js" type="text/javascript"></script>
<script src="/static/js/slick.min.js" type="text/javascript"></script>
<script src="/static/js/maskinput.js" type="text/javascript"></script>
<script src="/static/js/main.js" type="text/javascript"></script>
<script src="/static/global.js"></script>
