{% load i18n %}
<section class="container container_top categories">
<div class="container__header">
    <h1 class="container__title">{% trans "Категорії товарів" %}</h1>
</div>
<div class="categories__wrap">
    {% for category in servets_categories %}
    <div class="categories__item">
        <a class="" href="{% url 'category' category.slug %}">
            <div class="categories__item_img">
                <img class="" src="{{category.image.url}}" alt="">
            </div>
            <div class="categories__item_title">{{category.title}}</div>
        </a>
    </div>
    {% endfor %}
</div>
</section>