{% load i18n %}
<div class="catalog__sort select select__sort_box ">
    <div class="select__box">
        <div class="select_title">{% trans "Сортувати" %}:</div>
        <div class="select__group select__sort">
            <div class="select_value">
                <div class="select_value_name" data-type="sorting" data-id="-discount_price">{% trans "За спаданням ціни" %}</div>
                <div class="select_value_control">
                    <span class=" arrow_bottom"></span>
                    <span class="select__control_img"></span>
                </div>
            </div>
            <div class="select__items">
                <div class="select__item" data-type="sorting" data-id="discount_price">{% trans "За зростанням ціни" %}</div>
                <!-- <div class="select__item" data-type="sorting" data-id="popularity">{% trans "За популярністю" %}</div> -->
                <!-- <div class="select__item" data-type="sorting" data-id="created">{% trans "За новинки" %}</div> -->
                <!-- <div class="select__item" data-type="sorting" data-id="action">{% trans "За акційні" %}</div> -->
            </div>
        </div>
    </div>
</div>