<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/static/css/modaal.min.css">
<link rel="stylesheet" href="/static/css/slick.css">
<link rel="stylesheet" href="/static/css/slick-theme.css">
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/swiper.min.css">
<link rel="stylesheet" href="/static/loader.css">