// main: style.sass
*
  box-sizing: border-box
  color: #fff

body
  background: #131313

.container, .hero__main
  margin: 0 2%

  // position: relative
// @media (max-width:1199px)
//   .container
//     max-width: 960px
// @media (max-width:991px)
//   .container
//     max-width: 750px
// @media (max-width:768px)
//   .container
//     max-width: 100%
//     padding: 0 20px

.container_top
  margin-top: 100px
.container
  padding:  30px 0
  &__header
    display: flex
    font-size: 20px
    letter-spacing: 0.1em
    text-transform: uppercase
    justify-content: center
    align-items: center
    margin-bottom: 55px

  &__title
    &::after
      content: ''
      display: block
      width: 71px
      height: 2px
      background: #EC3A34
      margin: 12px auto

.btn
  padding: 13px 0
  @include linear-gradient(180deg, #FE524C 0%, #EC3A34 100%)
  box-shadow: inset 0px -1px 0px rgba(0,0,0,0.35)
  border-radius: 3px
  text-align: center
  display: block
  cursor: pointer
  width: 200px
  border: none
  &_control-constructor
    width: 100%

.error__box
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  width: 100%
  &_img
    width: 70%
    & img
      width: 100%
.error__body
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: space-between

@media only screen and (min-width : 1200px)
  .error__box
    &_img
      width: 50%

@media only screen and (min-width : 1400px)
  .container, .hero
    margin: 40px auto
    max-width: 1300px

@media only screen and (max-width : 768px)
  .input_text
    padding: 5px 10px !important
