// main: style.sass

@mixin transition($x...){
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}


// generic transform
@mixin transform($transforms...) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin linear-gradient($direction...){
background:  -webkit-linear-gradient($direction) /* Chrome 10+, Saf5.1+, iOS 5+ */;
background:  -o-linear-gradient($direction) /* Chrome 10+, Saf5.1+, iOS 5+ */;
background:   linear-gradient($direction) /* Chrome 10+, Saf5.1+, iOS 5+ */;
  background:    -moz-linear-gradient($direction) /* FF3.6 */;
  background:     -ms-linear-gradient($direction) /* IE10 */;
  background:      -o-linear-gradient($direction) /* Opera 11.10+ */;
  background:         linear-gradient($direction);
}
