{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<section class="container_top">
  <div class="auth__page" id="auth">
    <div class="auth__wrap">
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
  </div>
</section>   
{% include 'includes/contact.html'%}
{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}
{% include 'includes/auth.html' %}
{% include 'includes/favours.html' %}
{% include 'includes/basket.html' %}
{%endblock content%}