{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<section class="container_top">
  <div class="auth__page" id="auth">
    <div class="auth__wrap">
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>
</section>
{%endblock content%}







