{% for item in page %}
    {{ item.name }}<br>
{% endfor %}
{% if has_prev %}
    <a href="{{first_url}}"> first</a>
    <a href="{{prev_url}}">previous</a>
{% endif %}
Page {{ current_page }} of {{ last_page }}.
{% if has_next %}
    <a href="{{next_url}}">next</a>
    <a href="{{last_url}}">last </a>
{% endif %}

<hr><hr>

<div class="items"></div>
<div class="pagination">
    <a href="" class="link first">first</a>
    <a href="" class="link prev">previous</a>
    <span class="current"></span>
    <a href="" class="link next">next</a>
    <a href="" class="link last">last</a>
</div>

<script src="/static/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<script>
    var SITE_NAME = window.location.origin
    function get_items(href){
        var url = href != null ? href : SITE_NAME+'/get_items/'
        $.ajax({url:url, async:true, success:function(data){
            var result     = '';
            var items      = data['paginated_items']
            if(!data['has_prev']){
                $('.prev').hide();
                $('.first').hide();
            }else{
                $('.prev').show();
                $('.first').show();
            }
            if(!data['has_next']){
                $('.next').hide();
                $('.last').hide();
            }else{
                $('.next').show();
                $('.last').show();
            }
            items.forEach(function(item){
                result += `
                ${item.name}<br>
                `;
            })
            $('.items').html(result)
            $('.current').html(`Page ${data['current_page']} of ${data['last_page']}`)
            $('.first').attr('href', data['first_url'])
            $('.prev').attr('href',  data['prev_url'])
            $('.next').attr('href',  data['next_url'])
            $('.last').attr('href',  data['last_url'])
        }})
    }
    $(document).ready(function(){
        get_items();
        $('.link').click(function(e){
            e.preventDefault();
            get_items(e.target.href)
        })
    })
</script>
